openapi: 3.1.0
info:
  title: Enrollment APIs
  description: Creating new enrollments and updating existing enrollments
  version: 1.0.0
servers:
  - url: http://enrollment.govstack.global:3000
paths:
  /enrollment:
    put:
      description: Create user enrollment
      requestBody:
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollmentInfo'
      responses: 
        200:
          description: Successfully enrolled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentResponse'
        201:
          description: New user enrolled successfully.
components:
  schemas:
    EnrollmentInfo:
      type: object
      properties:
        id:
          type: string
          example: mosip.resident.enrollment
        version:
          type: string
          example: v1
        requesttime:
          type: string
          example: 2022-06-06T13:24:50.605Z
        request:
          type: object
          properties:
            offlineMode:
              type: boolean
              example: false
            process:
              type: string
              example: NEW
            schemaVersion:
              type: string
              example: 0.1
            documents:
              type: object
            source:
              type: string
              example: REGISTRATION_CLIENT
            metaInfo:
              type: object
              properties:
                metaData:
                  type: string
                  example: '[ { label" : "centerId", "value" : "10001" }, { "label" : "machineId", "value" : "10002" }, { "label" : "REGISTRATIONTYPE", "value" : null } ]'
                capturedRegisteredDevices:
                    type: string
                    example: '[]'
                operationsData:
                  type: string
                  example: '[ { "label": "officerId", "value": "globaladmin" }, { "label" : "officerBiometricFileName","value":null }, { "label": "supervisorId", "value":null }, { "label" : "supervisorBiometricFileName", "value" :null },{ "label": "supervisorPassword", "value" : "false" }, { "label": "officerPassword", "value": "true" }, { "label": "supervisorPIN", "value" : null }, { "label" : "officerPIN", "value":null }, { "label" : "supervisorOTPAuthentication", "value" : "false" }, { "label" : "officerOTPAuthentication", "value": "false" } ]'
            id:
              type: string
              deault: 10001100020010120230704042404
            refId:
              type: string
              deafult: 10001_10002
            fields:
              type: object
              properties:
                gender:
                  type: string
                  example: '[ { "language" : "eng", "value" : "Male" } ]'
                city:
                  type: string
                  example: '[ { "language" : "eng", "value" : "Kenitra" } ]'
                postalCode:
                  type: string
                  example: 14022
                fullName:
                  type: string
                  example: '[ { "language" : "eng", "value" : "Enrollment89 I290" } ]'
                dateOfBirth:
                  type: string
                  example: 1988/11/07
                proofOfIdentity:
                  type: string
                  example: '{ "format" : "txt", "type" : "DOC001", "value" : "fileReferenceID" }'
                individualBiometrics:
                  type: string
                  example: '{ "format" : "cbeff", "version" : 1, "value" : "fileReferenceID" }'
                IDSchemaVersion:
                  type: string
                  example: '0.1'
                province:
                  type: string
                  example: '[ { "language" : "eng", "value" : Kenitra" } ]'
                phone:
                  type: string
                  example: '"9538114518"'
                zone: 
                  type: string
                  example: '[ { "language": "eng", "value": "QRHS"} ]'
                proofOfDateOfBirth:
                  type: string
                  example: '{ "format" : "pdf", "type" : "passport", "value" : "fileReferenceID" }"'
                residenceStatus:
                  type: string
                  example: '[ { "language" : "eng", "value" : "FR" } ]'
                addressLine1:
                  type: string
                  example: '[ { "language" : "eng", "value" : "Settur,Settur,Settur" } ]'
                addressLine2:
                  type: string
                  example: '[ { "language" : "eng", "value" : "exemple d adresse ligne 2" } ]'
                addressLine3:
                  type: string
                  example: '[ { "language" : "eng", "value" : "exemple d adresse ligne 2" } ]'
                proofOfRelationship:
                  type: string
                  example: '{ "format" : "pdf", "type" : "DOC001", "value" : "fileReferenceID" }'
                region:
                  type: string
                  example: '[ { "language" : "eng", "value" : "RSK" } ]'
                email:
                  type: string
                  example: 'nagarjunabtechece@gmail.com'
            audits:
              type: array
              items:
                properties:
                  name:
                    type: string
                  value:
                    type: string
              example: 
                - eventId: RPR_405
                  hostName: Techno-367
                  sessionUserId: mosip
                  idType: REGISTRATION_ID
                  hostIp: 192.168.1.100
                  moduleName: REQUEST_HANDLER_SERVICE
                  description: Packet uploaded successfully
                  eventType: USER
                  uuid: 94dde62e-e93e-4f28-9b1a-c42527980754
                  sessionUserName: Registration
                  createdAt: 2023-07-04T09:54:04.638Z
                  actionTimeStamp: 2023-07-04T09:54:04.638Z
                  createdBy: Packet_Generator
                  eventName: packet uploaded
                  id: 10001100020010120230704042404
                  applicationId: null
                  moduleId: REG - MOD - 119
                  applicationName: null
            biometrics:
              type: object
              properties:
                version: 
                  type: object
                  example: null
                cbeffversion:
                  type: object
                  example: null
                birInfo:
                  type: object
                  example: null
                segment:
                  type: array
                  items:
                    properties:
                      version: 
                        type: object
                        properties: 
                          major:
                            type: integer
                            example: 1
                          minor:
                            type: integer
                      cbeffversion:
                        type: object
                        properties:
                          major:
                            type: integer
                          minor:
                            type: integer
                      birInfo:
                        type: object
                        properties:
                          creator:
                            type: string
                          index:
                            type: string
                          payload:
                            type: array
                          integrity:
                            type: boolean
                          creationDate:
                            type: string
                            example: null
                          notValidBefore:
                            type: string
                          notValidAfter:
                            type: string
                      bdbInfo:
                        type: object
                        properties:
                          challengeResponse:
                            type: array
                          index:
                            type: string
                          format:
                            type: object
                            properties:
                              organization:
                                type: string
                              type:
                                type: string
                          encryption: 
                            type: boolean
                          creationDate:
                            type: string
                            example: 2023-05-03T11:04:05.0166982
                          notValidBefore:
                            type: string
                            example: null
                          notValidAfter:
                            type: string
                            example: null
                          type:
                            type: array
                            items:
                              properties:
                                value:
                                  type: string
                                  enum: [SCENT DNA EAR FACE FINGER FOOT VEIN HAND_GEOMETRY IRIS RETINA VOICE GAIT KEYSTROKE LIP_MOVEMENT SIGNATURE_SIGN"]
                            example: 
                              - FINGER
                          subtype:
                            type: array
                            items:
                              properties:
                                subtype:
                                  type: string
                            example:
                              - Left
                              - LittleFinger
                          level:
                            type: string
                            enum: [RAW INTERMEDIATE PROCESSED]
                            example: RAW
                          product:
                            type: object
                            properties:
                              organization:
                                type: string
                              type:
                                type: string
                            example: null
                          captureDevice:
                            type: object
                            properties:
                              organization:
                                type: string
                              type:
                                type: string
                            example: null
                          featureExtractionAlgorithm:
                            type: object
                            properties:
                              organization:
                                type: string
                              type:
                                type: string
                          comparisonAlgorithm:
                            type: object
                            properties:
                              organization:
                                type: string
                              type:
                                type: string
                          compressionAlgorithm:
                            type: object
                            properties:
                              organization:
                                type: string
                              type:
                                type: string
                          purpose:
                            type: string
                            enum: [VERIFY IDENTIFY ENROLL ENROLLVERIFY ENROLLIDENTIFY AUDIT]
                          quality:
                            type: object
                            properties:
                              algorithm:
                                type: object
                                properties:
                                  organization:
                                    type: string
                                  type: 
                                    type: string
                              score: 
                                type: integer
                              qualityCalculationFailed:
                                type: string
                      bdb:
                        type: array
                        items:
                          properties:
                            bytes: 
                              type: string
                      sb:
                        type: array
                        items:
                          properties:
                            bytes: 
                              type: string
                      sbInfo:
                        type: object
                        properties:
                          format:
                            type: object
                            properties:
                              organization:
                                type: string
                              type:
                                type: string
                      others:
                        type: object
                  example:
                    - version: 
                        major: 1
                        minor: 1 
                      cbeffversion:
                        major: 1
                        minor: 1
                      birInfo:
                        creator: null
                        index: null
                        payload: null
                        integrity: false
                        creationDate: null
                        notValidBefore: null
                        notValidAfter: null
                      bdbInfo:
                        challengeResponse: null
                        index: 077131f-df03-4b4e-aaac-545ca1c9144b
                        format:
                          organization: Mosip
                          type: 7
                        encryption: false
                        creationDate: 2023-05-03T11:04:05.0166982
                        notValidBefore: null
                        notValidAfter: null
                        type: 
                          - FINGER
                        subtype:
                          - Left
                          - LittleFinger
                        level: RAW
                        product: null
                        captureDevice: null
                        featureExtractionAlgorithm: null
                        comparisonAlgorithm: null
                        compressionAlgorithm: null
                        purpose: ENROLL
                        quality:
                          organization: HMAC
                          type: SHA-256
                        score: 90
                        qualityCalculationFailed: null
                      bdb:
                        RklSADAyMAAAAUfpAAEBAQABR9kH5gwcDB4QAgQAAAAAAAE7AEAADwIAQAIAQAIKAAEB9AH0AfQB9AgFHQEDAbkAAUdnAAAADGpQICANCocKAAAAFGZ0eXBqcDIgAAAAAGpwMiAAAABHanAyaAAAABZpaGRyAAABuQAAAQMAAQcHAAAAAAAPY29scgEAAAAAABEAAAAacmVzIAAAABJyZXNjmcoAAZnKAAEAAAAAAABqcDJj/0//UQApAAAAAAEDAAABuQAAAAAAAAAAAAABAwAAAbkAAAAAAAAAAAABBwEB/2QAIwABQ3JlYXRvcjogSmFzUGVyIFZlcnNpb24gMS45MDAuMf9kABAAAUVuY0lEOkdSQlQwMf9SAAwAAgAJAAUEBAAB/1wAE0BASEhQSEhQSEhQSEhQSEhQ/5AACgAAAAFGbwAB/5PfG3AUN4z9E9lsHDmvW0bFzcanehWwPUJzh3RxLhuPAz2lrJUFtYxsf6yf8rmOdR9alI5byv4h1Za9gICA8pgybIvRlQ7cKEFq6dl3UZwavLJegPEQ5VgGx2YCR4JXaHOoQtUX6+uA/AhAyKLTIcnZ/26w8/h21XdxPOwMJcVhbX99DBUr3ZAZyvzfx1QAOeeneTPOA8PTEqqf1PmOF2JnF/uAoV0K8BpTALaReP8hIKH61bo0IkXlYxvgzubQUu5kpJxg18+UEioIZddA+mgBHySg6OUpjuONGJCG73xergcQkuI7MDJ+/d876pHjsoDE4jxIosOG1++Z42w5WZxxmed5fh3Pz1OWCD7mSrLZJ7W5iy4Kj5cUgFRl4lEAzwwBuwKSPY+38i7+lciMa9OcDYwpqeSydCUYgAP8ZZ8Zt8yAAxu2w2aygZ81yqJG4Ji94NlYXjwzKQFKSiln+qc8PyjNqKj4IagClO0aVuOLxGBA3OBX6kuB/4fIIk6hMc3WRceoVE5JH2VRbbDG3Ba1diT+ycNbfyVDZhM8Dn7AJffesJN5ZEG/PQE5TE9dcohFL6EPYe5pa9dxCVu9UdPq9cOB1RU2QHAIxkbng08tvzmLOPPpXFPVrquAgfc3BZi95Vh/yVO1IJ2VOVEVTeZnhgfR44PG6LH5frzGEW1Nq/YLXQXL9PBjGi/ofzCTBQFKTcl21WyA8rxboH77Z/EaIGXbfesGEfR2ELKCV6dD9SmAOeAYwARrspHjgy/CYMoQ6jYvhiSqBEUoGBr/GGTaSpK2dwaIeoQLRO+DRseZoHOe6GB18f84RHNNGKVBzCrM0Wlpg1V57dKaZ2CjWKmla8mXCbXNYEgNE0FiPjFgNc8Ph6QI+mMIVDfIB5bp5e3jd7MKEM4ZxHjtWe4i8lpFUJIHMZxw4TwpiwDHsKLeIh/Sb2GBmWjWczyWE1Vmbsq4J+XjLqSEGRdMgz50jP8p11tOCQYjAxTRL/5SGWLnSgJbWaUHrX9dzOYVcPNLfSgU1RWI+bijvDJlMSmCwBBY2V5SoQsKeTd7QFnp5jMlZ6t9e7SFX4240P14GbgZR62eheirZahEiAWjk/ciC8CvzjUIa6b5+nfjvzm1BwbTS9pTeM5UwnGjca9p2gJoQRnCZQcIhXSxoZ6j+3zgQfr+feFw6dbdYQFXWQ2dICp+x7uxRV92Ok9TTqNQshuAxGIcMxKUmubLa280jMwdDkdi+XL3yB5KRfCB0wbFBFoAQil2UupEdci7b9PH8h4VmsEBFcIxuwntD3c+D0/maabgd98TCNjPugn46iQRtBc19knrlCM4VPznl86A/Qh4w9YKEBjvXKrPNJy84pD8NylhomcPaCtgxY2OxZ73yClgLrH+I981dLNI1JNT3zCo+8ByXyONRlQ9NaFzb0Ez2PiPSB2/o7ahBMPuLLY50KgVtnXGLQ7dWQR8dmLhM+KkDQPKtNm4gNwaOTqV90W8AIO7ZliRh1wm5Y+OVl4vH443FZbbrrCrZQ3TgXX7HRumLgInq4AUXrkgMgXwxtBvf2WG5s3Hq7GTymKhnsWJiLDy94PVavsaj6A1PwMqBcXs2ldeX8TS3nW8rkl5xMuoGtWnjiyKNAPy+TkPXAOZAPC7e/rAE0lTC8z5vVHANeefEr+REgv8jdkQGuk4rw+DK6sUM/iQl8unknl5+lr+C7Uyux4Rvkep3YE8pIciUxMoozsLRswMTR+L8NsSLtprAW6xOFeh8rUWgyqbhT5PNPqDza0wMRnhbQtu4m3jlrONxN2jydF9V42ka1QvchTOD4TQuqcgxRJ43/2lMSwLPo1OgRddFW6wWj82jPmUAN30ex9Ci8APsQcDf20RAMNUcPhR8TZG0wk33I0h/wyvZJ6ezaSbm9kQYApb/MlWKxuFOxCM2iPKX0uRuzVyg5N6EprvgyZ7bB621d6jfNXTcoiO2so2dEf1T6PyAIDn5HQCYTLfrBGNI0zsQh5vyiYxJLLZT7pvTpk08nqtnBcS7xKyizEtoKHV0xvDLizxDmUh1pbaoof9PPZXO2tPziht6QO8rWwmS0IM82HTCGi6oGul5VyyLHlRCB3DCVup9tjbBBcGZIDlcQucyUStvmY9S9bNtnJBNTVyfqmRporjekeNHn7HV991WN00RUUCA6vd80/xic+JeBW46JpxnfAErK7jfzgHfziq9ozX/FBHHc6wLJ5YBC+1sIQMQMyRKtOc63MRKW0j4Cu5pHswqwEtH5WPNUxGiKMODyz1NW+QC0+r3xC/PGCRUoXK2tvx559ml9nkeKX4c59QvlpKyNIEsNQvSA5MnYSJGQU64/ulM7XTIu6JEqwoZt7CzQdukmi72J+ssHwUKRgwguxiirdoy9f3TADHcFWz2pzz55nyM75lCcUqU5vi5EmP9tSUpFf83anj3kcMdDc3t139Z7ivG7SGjn5FfZUzw1ROSlOeGvQ6w0mDZs71p1WFVShQGRliHh/Lwwn218XSys8kCoPypqZs69RQSXRTXIT0kGfwkLk7rXJ5T8VcniDliUHtaFxyD5DU6slTweUuk85G7itw1+awRot+j2WjsvYD3QwdWdq8BlJwG9qSqXgJ8oB6mxXjWKgJKWPt0b0scgtbwhnwJ/kOaZQzJUyaEAheaaeDG37HkiHyjOuAElOZSWhxfUcLuA/H+wwuOxzmrj9v1FW1X5vj8ISe5/JisXL7igXzXHV1xFoMLee1amb2y4pPhknIJkeT0JHr6eeeag32suTbIEjGTXEg7yRTgNWkXleh7JF65T9E3fwM9M6yh4bPLHFmIV4CkPLSxHXoMmusyYFNs1zlsCODDs11kc2ucnLR/xAHj+sWETAKV/dgnOt1jeXMXDh/7ZodOySCMpWVpa3gYl74rS1zPHCyZMkLkAdMxICnvGy5flApUy2eVsyIb8/vq2u7uFu7w/Jl7rwmKlDKNStbgCviEjaLxVIGbNvhp0bmHiSKO1Xbwx5htGfu+tNh46FHMtxoX195Klr1wq1PF1tqSKjiU/2vmddJswzROk8bZp7tvmPbaPHe4yz5gghTEf7Yzyyfqpzml0dfyqKtWHv38S+iKMFIZtsMXmQvBDiuIb1Wu/XF0TwrMzeYJdu44yNpithx5tLWIYH36j23qTdBj7j2mCcwMVlKPz/aSjuf2gzOFTxM5aMhvm5rCslCOtSbqOgvW9pDYdLkysRdGK5jed6/xAnZtJwDxOvweVvmXVLVXA++PfgYVgPECw2VhcSLjm6pgIb594XM6EaJWnbhHQAwzB2QXm4snB9KHJkufEHN3tjLVp9a0HjUktPgIvlOqar68cQX0Y+MH7TzUOVq4nzZ4pZwnh5NVJSu5TOiehYKIzxmLNNtNsX1hNRC3RwSVwiK8qzM3hlQ6I8L/B4Zl3kcmRyBn95TH6F9iJlNB3KW1rSBFRCOJ0h6Gr8Jb9Sz91rDRM8c4TFbQy3JlHs6SOx928sRK3jmDVs1toH4w/PNr+3Dbto6J+fpC29P/bzyDZXxwcizos2cri4dG0vhmnMetv3B8DCffyDy1lqnQDUfZqjsTNFqp2GDVfOUDmxQj0UPRYFLfzFuNa2efbDz+paoUog77rt+5YHtzA5wkPGEZNK4u25LFg3IVMciFmOJZ0wvcTO2MKKKWttgf43mO5Zx0WVtZ3ErL/VC7Q0rFw/klcR6yxAVVlsdGMN9LlOhDCaDD+frurq6yySj7PaqVwdglnzyEFYPFlGB4n4dMX2eH2Z/RQWUYooNlnqEF4ti/O4w4HttVypWTEDVgRiS5H9tcVdp329yiaWd3bBEy/u4zXGus0fhnOMvRI2mTltL2e3WZQpMo6RxblMPbHFY4VhKlo/+R0hGS2lSkqxSRIKli0UnE/0nwZgLjySsCC+FTai0cnE411cnZ+MGUZnbT6DL/NP5CbJnnAEiSb1Co9tDh72vvar/ayEokLXT7COdPUgduEchVFMIMLRnXsiX2Wx2hLUZgOUd8mf6HhOjFNyrwuFDCrI4/V9v24bAFZhmLiJTn5Di1XhFi2zktFs7qtxe2Mn3u24eViAss6KGcsWdkxlwedojVpXeN3xjutZpiI03vasM+UK2oQLMktJ4PJgeOsaqOla9PSjHcZJnFCNUjEoredS055GOtunoDQN6mXnWZipzt5pJon7m55yeSzLn9Z2A9zRtzPDD5GLhfgeS/Gf4gCetr79wPcqeYYMFRTFBbT07YCED9z/uSZ4ytn+iJccfAYrIAPujzXKDTNlXHYsQFLKOlq9CKJ2fQk1xUr47eqlxHeHAEStnyu19nrmUSd8iA62SPYTNwupJP+cW2Os6+ydK1YqyBvVDTGQ4JIbtcT3bHePuVkXj/CsLUUx+31TO3qik7way+hpnDOfejPS6Da4qB68rk7375dkr5+nIptOKTxUsk/0o7fSk39ZNIAERg15VnLh7Sa0kKpFxLlvXKZU1oX6SwofNlg+P8HBCCOgaMCX1Pn0JnV0/6mZZsgZkk79kBUjgUPn4nt937JlTdxEXsGMRy9VPEv1EPryAdRbrDnf91H58MYAkJIJS60blBCoaqM8PEcmN5LCXV+zFX5UpRqw7bjqDXoXOHj5G9Y1rD4HQiw2X9rCd+l0o0oO8m8e5oljCWuY39NP+Ys+LLez8SWLItXlc0+NNk6x20Ncg98UlE3M+CtPAy59EznMXZCg8zV+4eZz5CxpiiU1RQFst8mbjZlrrDlLcY3qV9JkyVzvMWSzxfyHSfLEaKjsFc7kGNEjiZOKs/z1UxcHP7thvm/eD0ON4RPvBzg4hQGNUOxnaFcF5/JEKQrb5LEpZFhvg6PqEtLQ1B8g9xsCsWwQg9wTNaaAmpJfs7Daij2+J3JJ/4MRV6TyPYUR5XOGOxUwPxbPrgonxBfA09Vwm4dxuBI58ua6NNRLd6lZm8RJv8zJQfFBtLFgvfix435HPMWvf3SMzVsrxC25naV12sHq6lyQZA59SwnyH0wDkPYwN3wK3iCBeRW8Rb1C52PoVNlIQ9+FZb9gDKVlzhSuFE75OCEUyVdOLh6nA7Kt2MyHCfyPU5ClGnQQ1PIAm4TpSs0ZGoXSDeBLmwQkf+Nx714BXcokEFWgvhU6D7NUK7pGakOzgq6rrO4TStuRTl22t2pBu/2liRc0FCP89405QMkLGXX23DW3zyZejOtmRbVxu6j4ffegLaqXH5qKOlZqKxIsBfntENFFL1k4nB7cuMmhMTQsm1jlg/QuFmo/XAnvF5zuIH6HTEJcRyA5pY7jCDEaXu5YOsz19BmaQUiD1fVm5ygQY06vt7wGPWeCS+uFYxruIy3IazMIDVccIw94Wkzx9TKB/mKPsLmhlazwy5XW0LcUMEOm2vK4IyB7czMCP8kU3RUHA1lkblPFWki9udQdZbycTfo0ahdqXB50c7DKMSeOYEaN1skvRRqmCOWPzdfjoARQuPvhVXXUqGT+9tSAONPNUW4OLYoUwXJvRVjr6ayKPI/mN2gHO4iQDWd/9lJHCETK/8WwX6g2H9/OfpCSkIUiurwlM9l6aj9Fu93ywKaVmQ3ft5LIV0ugHbgTp1a0UNb94mjCVPYzRdOphFlMnjGIJb33LLpihL8UBX1mLy96AmozG4ReZl2XkeGWU+UnldW8LFo/ZjmR8P71nqeG+LkBg0wO02YMv8v+Cb9XYYxtSSaFcj+60aJp7nqHbtu9b6aeWsh/rBC8iZYftHR1Esorc+NJWklFTpMFIsbF2nb2FhT7NLZiLHP9EYgEyVMDo/xvHsVKvNGaeMDsN79wskHde0e/isyIOB1bQ2LTmW0vgjQS0zJ7G3EecIiXRAQe2sYki3Ec4gk6+u9OLt+SO38XJaG9m51g2SD1cFjFJIImZ4+kMNO4Lsm4BSyBRKK/c+FzKofowMxcMC74iwrhGIJDQmmzElzmz7OuotJ6KrTyhEZO+xopDaTgR6sUdAYm7FlrfODYRgGmvDC9kMpOt7oRo9hjiqSNdPqZkChBdb9/6VkF+aotYDgb4ofGEmVU5LvuWVGXhsC9yOz0nEPEBkHafO4Dpz/4bFl3eRGXsFbZItrRK46DgQI0ofNfo7f3BxmapK1vglA+vfXeWQA/UdDboqTtSHfNY/LOiju7DdgkzRST1sgWtNqzW6K+7IKKfLp71E1JXP8zUl8Tt17bXVa/8bKmOqq7X/4EypZVnBmSR6nmnC7K59MSfkFH+y5yJIG4Sb01vzfn2J1OfuenwqyV5J+bNqMHXyKY4NmOLHXNsJjDqs/8qetpAvivM1T+Lvk6V5xCC4IW6fOwRp50/8AL+OQvGvItrPHD6JvodeQ5+ci0GttSnP1NtBbJ6kdaodRffVTA5P83fh3Cu62Fn08KBAfsYii39X9xB+Wtk/O3UfkOpNZN4cuxPn+f6XNrpXASCd9Q3ipYapHpszCVUHRikdLd5AcMttrirbXAno31nNk+nQxzIFWt2QJnA1suR9jkxZ7xuuMySdQ24q0WvWdZGKcYjxPE71wCcpkuV5ILNtKdVEgWiP+x+33YJUW3B1lsEgpPDAvcfINo7+1RNpi9N0WDogGIK99E9KtRgC8OQyaWt5AKlA82sTPr5yuGnpWQZBo5OqUnXemRfIsjC1TJltfEqU7/UxZRsX1NDUaMd4Z02Mdr9Yq3wwz73Vo2e5jvncgcOZkskCsK/5xUjArdRklW/Obux1EPiAu9Z/ycnihUPZsuHe5ZRSaVe5CUe9ZVNINWbguWECFxYBpqr28NthCB1X1TN09TKS6sa18xRJEEewcjmeAitHiAuFreA0jMctqmIG8c4kvXMZQIscTqibR+isbUCMRtdE2jCf+3gMLuAgWVUcWU8UwSJCWeEpcsOlQKkMp0kw31bBNXq0POQciDCUSY/ZjC/nIPFg+pl7DAXROezKqMV/QdKw5VN4Oj2xWlQWcmLuKyADUHulxRzm5IQYC6nVw3D2/GwclTIV8+JQ1IPVB2fNzatLkDH/O9QDiPJhAax7c3blxspnSvWTMj0Rpr95lW8UjVs812sQA//XpZjPeWedYJTHqFugqsOYyYrIcGAik4UM04kFAkmEaLCVEXyxO5qFWW7zHFf2yxGktl3yE9/OWvFuOQJr8RQjXOvlsxz5CL2n9ATYJdfQcz9Kv9Mk4xvoo4RkPKPWwHxuUoJD+bUji5Tc7kAps22CVnXKDjlPgwAWk0mqKRllLHdjZwAMeNZX9o2fp2u1eX+4WNwi5rQvPj4wpatitE8LAoPLoOO8Kuczj2ylogC2UjKvfplySiFnul+6fjmHDheUjbsfC/ySjmBBJU5S90NoSJYw6TCfAeLWSVcfxKyOg2eNPb5FRNUJvQ4v0H+i7ftG8KLYhnyjE8qgyhjjreB2twZw4hpye3HmZy8ps5IkOM0WMjKcijgg66E18+XOpv7tSg+p1lN/xDojbkbkBOiX88eLB6ER4h1fd5ueXIPAaBX4O6Q3Cwk3PR2PASQuwjudcZRGZKi4p3gCaztsUfzj/7JDJElhVGCQNUYnmZAuC6u1LJjFdF/IcFjqqrQ+hupUpQoEjd+s4JSpr4MlNz219ZwH0TM27ds7lBr5Lz4xWr5iw7hcQxRC2sddTce+BH/bkk/LKVECnJHJqYssahFrvzc6/aQ5/v4oX8o2nln4+iDmmAv+9tCzYHsQpRHZU877RE+HsAOQliKZqCTrrLCdF0+7saEUepNnm7Ej4B3iNCX89cN/PTdg0KwOC0cAkgu1nmNccLaELIlTmG2EUm1vkcP5nnMbTiXts5yXMY1GEbbhrYGuOc0E3WHxCL0T96UR3c2gLMDo4cv7Cku1n1tSO4D7uewhxYN6nQTbxU35sjV3JSCj88/rOY1tAb/f6tLGcrKhAEpAxNOVVrbCACy+jHWPnx8cdUH3wkktRNbBMc3I+s/Tn+DURVD2bmnzW+OoVdOdw9SPQ8tlwcbE2A5l1jVwc/SClgncXXLhB5/6rxue02og/bVtagsxkxADg8wXpBQxEZv3+xcwvl4/yLHkf7Ua6ZCbTZA/ZG3vWOxVZEpICg7zJFHv4zluuFiWesMt4fTqpd8mO8ViuOSJjqTM98NiZWOzJcGR501sGqNYjBvnKJNzkto7CMDIX5Nx1hTbId9zQSnL6ed9FcOzZvrevL6PF2FwPrVxfgMjDN3523YZPNOei6ZijW//Rjx/sXUNgB598ugppcJ3UUPBvQyVQPlGbbWAZy8Xvx3nnwC3dAms+k2R15F5k5RjkMapDsMIvahtpddKD0h/yodh7Wte9d87DlLv1f7F2b615N2p6wEsR0u0NMu5JGkz5GhDe63INUPw3UzuOqr3jcn9ssf0njmD2kpMoae1GUhw9fKY6N/YT93649dNi3huVWNYp+xFmnpywHnfOZzmG0nVAuSf915yTv6lkuXm68Pwhee9CtDHN/4TifSAXmBdq1wsb7Xqr36eX/RymyPKKW2ZMVbOMK6NAUgyKU1sDxK/LS059J1PpCQs/uHVbdI/00kytWp757/dphCTiPztBpSemi+OYABgmOSTU89M4woa0c39ocaeGDWzFwwOy9LoLSGd1d8FFrUENk8F2kvj0LTBymmyBJNX1FAb2I2j0AYqUkJzoA6qo1Xdj5VuDQoRxomOybia8Kv3fjI8D9rovtXoc2BjFmEY6o7GkyVOzNfwIeU7aD6omhsJM7exli7mtDdSvncqPtqjeCOd/kIhaqeEVr1BOmid8wiQVhxRexJgP2akAkMJm21tgNM/K2rDJCUduGAj7Mz6LxA3eN555RkXYfDkUcRPt9P13I+fQ2i2MqeCJyIqoUYkVn7KqD9cJvVtYkYDxv0I6qXUWWawEOR1+1h9rifveRBY/orMKloA5EYXW7HGbnki2njXxkf2u7fMzOUMu4dz6o/rCYKOFT83T55mleB1ZKO3HYa+VwwlvNWZMGQu8m8rr0Ayn78xhtCR1YttQCqw/NSj5ds8f2kjx40Z+T3sgkkScvPKvVix2AVVm0lBemhuJsiAFrb61UQuPONXyGkFVPUVlPvvatXMXmPHGyxNGu6WYwCA3jLEaO10bOiiwfxivlp4CdENS/5Eq/IswRJJFQcdim2RJo8t9Fr0tZetppBX4uDYxwPbF+utEuyALGweXEtt3EfcgTHsu93n9GPTK8N+FhxtMc4cZmlhR1nM2/l1AhGP4CAgIDm9WbvQJv0V+F646YVreovEuTz2Zzl1j8W0lfGMYTQnAY0iKnlzeJQztqbG1zrN11pjU4Ks+O4skS0LyRcSL+VIlOri2xlo61NO3+hvMv5qyXbJmVt+H++zIriRtZjhQISaNVucvU0z9KwY+mLbcFCGqsRu5WQXWrNFGvP5/s2GlylGUsz9Lc5wtbQoZ/2NPv1mjKkztwNtuUYzeyg1RpwUpDRSXSKLUe9qjalg9mkMqyegOYTyWOIqdTXH6GO9ykb26dXLwe2afkQj+kMaHc3V2QfPkxRIhHYNW92YkgVG6j1kL/zKXXeSjTWTaaOKQhmZcpSH1Ng6Z+KlrsL54PFidVZkPEAkBoELDtcr5dMTU2nvRoRKFplRjOc6rWlvIKLWCLmlNhtE36fbzIdPioLcFZ6j63v3uQwtft1849v2MQOJOythkYU6Q8MHa21S8152Rab3jvaqFblotiJLSykIsXATrQROykTN4FKQJoG+s2Cy6nZPc6tVOaHrDDcO0qtF7M9c1p51DLdQn51YnXsPoGRNSvLZy1ihmvzwSoRSP40yfGT1wZeaDuVqe+iwFgSJWS6xC6Ok+XB27pk8HpL7w3JYLahrpB8swKDsji7jc40lI2adFYhn5IJBeNBpVVPt4PT3WZeR1vkxLcU55Sb2jH1e9pCaN5DNCxt0ZXGehh4GmzeLGlGnmZGkg931/zhcZPOWpjXhKMGC/ZKqg7+z6cp1dl/WuikD1MQHLiASRlXuOPTlMGvF9urmi0nDi0+sHAP/0PrkNNZSSun6SA8ADJsas7V5dqcESSXbbVMvf8rvQ3e6tC7Uhd/3VhB5UvInm+V8K1aLH4thwYZEzBkjERx/RJhBT4Rb7TlRzFhTH8trcxOgO+tLMO4xXqkHEl0SLO07p2G/zpoWm5OsWMvYpWln2K6pwNOzf9gXd1W/E9wY4jhwkGRj8h+2RtxyhKR02j+kpxz6U4dtsg3++Nx4CL4Rw2OwC2PmTc9b6fVf8ymgTXNXBGf/K5XGTWXCscemht1ZQ03hkmMRE69zSLY9epNQ8c0RftDTsm1o0M+Hf8Ki/p0CAY/B1KJ3JYrrdsYrjyltc7nla/u9qspf8WSA8O02r4fWiqQx4ySjV4IO0zaHf0ujgA96VyZMVF52lcFUOHpUfDKaAUdpMYiCunofplqGRjGRgLzaq0UzjpHTaN9ceq69UqyNCMNVkLpP4AcZ9+So40/PvGZt9xzvgj4/E4lSq5coQ6FXGyAOlqrvGSxubCjSFPtOg/jDECGaNj1ZrIms8nSrx73j2fyTL/9RyACCMZWBIMjucwETybXivKRm2IAENHztiVzqb7OLJpeC9lhzO/o01d7sIkERXe8OiTwBfSf6MsAr370wBoiErmYm1fIcF4P2fFqztZrspTrCw8b/n3UQfgPS47o0skpr3M3kLI5tVHcevi+zeXitn4ciAkSUb23k8Aj2YA2sXoyffNPfwk1V2xp9TK/kVQm88N5xSeCvy1VkY4Z2IKsKoVxVSbS1YK8eAeOY6YFUu66FlnkIQSf5ycdEodJ9AdzdYd2MPg/nzM1EfmENX427aK80OJLOIwBYIXoPY0FQfinBrkjonV6iNLIVsbekSoMnYsKV+IS6KYaizmbh7k8NNxKLBy87sCCDKZwgIDn8h5n1AIgje/nCSJ3efn0bhXYz9ZjvnDVtt7jHulXEK+hVuReWZfhzNh03z1VnK0kzL8/JKUJwy0/tfaWB5EJvYC/f81RCHg5U8cbpUiTF7aH9k26v4aV+Hm5G11FzO8Y1XmMxfc/ZFyZoTKfiVdFBSydeKiHO58yCfuVYp+sdOsASR9iuAzrESwggFVe/B4cxt7zfzXcaYdYta7Mj/8r6Zir5FErte7FePgqrTjmYSSwBe1yasHG1tWh3wMBBl39PGdbavuepabqu6jbgRs5IfADBFodFsEsp0kWdbDtOdi50wpmImvVd7142YbPUbee2N5C74aNlSFLOEFfUUUJPFNFjy9ELMx+eUtTz2Bd2kC8D3JSGekLpAeF/1dwNxGt3xvv59c5Fd0mr9h1vOoju6+4uAEBIP2u7K5WEhfVvT+VUxjdwJLqLloYWzb0cX0Dy4qf70VG8Dr9b0oTefrKAW+RR9JwXAB+3CsNRUeTLVOub1uwnzKZHTsvbOFhxOHOCTWKbM9kmnalqDDblVQe7HZHK9+SKWdzH/fh3AaPADzGBFm0FtVvq5mVsMsYOnq7UVMJnIgu45AVmUgyNYP4OwzpV7Hu9mERJNYoCoelaQVvcKSTLOhM6UE6EqC/R0CWEvRu3izItczXT+nBUB7NfmdBXPIZ22vYJnOtpQlf6iprctIPe7lkGonZ+HelLUMuQq4LZzG2BepzidjTb30NVLs34zOapfU5QAMInxyDXRP9u/9Gr0lLyq4DvC8pa7uFI5Ska0fqs9RvuVgQ2J533c9F3Nvv6NkIVjBO5ouN15ZOyI4LmQqYh1fveYxWg17f7xA1DyuUrvp3bW+a8pON36it4I1W62HC5bveRC6FTgVxECwXj14GHBKLcAaRlz130oxjvFyWWk0o9X4xrsFEq0ayTtMYoMxzpcSstQbg54ZSwDKrp4yfmpAVfMaWeaQWRvvL0cOf3YxFf6NrpMHG6U5M5Zg9vwN2zIOo4kEn5J3sd6MMlI3TwWaekYaekWuJgM3Udu1fMz0Xk6f1Bfhux2UQiDpjsQeyE44H/20kVkv12AKkPfYEKcpvTpix68dm2lZEN7ffZhlA8+9SikJscY8a0UEH07N+ZuVFKmoFPG+LzvquzA6fQs8KH6C7rIRhiwecz9eTGiVOH1FDj2b5QEN1K3r0oNBrmS+3spbd1Il4q+Mxiu2cyIMTh+kpHOUMNYnAV3/Osmbrih1erLsPD5TF475jNQWnzLgWra8kVKxyFHDHNh+CEOzmTjhyx/daNpJgtJv2Ug6JSTXd8WgQQ/uR80EJmJreR7w0vJaXvu49NILc0jSjI2CbdhIcuNU5qn/vXLpgQ68Nenw+cBSvD6Flh5ZyvjohuSXoLATglSnlyBM3w0rZhCqxj58LFkhsVaIn+0+iGK7ChuzC0u2WmsMg4e4jn0eHKWsNi0ZtE/7ocKE6tque+/j8MPz1I5LQUagzQa9/H3h5YxlCMdXqcN702MSO5uLEgxU5qYArHDV0nt6Cg0myeAG01/p9naEJrYP2kDRcwd32p7NWN1m9ntTEWki2cb+iSwqAcoIIZGSI6q2bMfW6vmrcjq1TkS+L29AInCx6yKEjGJtJFm6IQ5vG6wV1xH4V7MOFs4fgxzgJi1LSFzSrX5Ja9eFBvlid/hUFtPudp7z8afu3is9dV4IYRt+2q4654FGK6XfcVXDvhp/h/OEL1KdeYB4T6mnhbSf1TlGhII73QitIr2VpqgIwZRSjOrdnU70c7yuh1o5MKAzWkwyd35OeQm+L/WVm/eP/LPIQOifWV3z6ib7KHWD4Sfv2+N9pJ/D6ZCD4RGIovkigtEq9WMZ8oMrWAR1rXHJqomwseB4UFehTegBI1LNdwBk1K61f/JfHrUcJ+wjDwuZjVzd16jjsu60MEHrylzaJR0aY8S4x4NB5QQ7a4582yT1N+f1CFNeH+ixSavyuVpeX7+Ve4NJLN6XdkaJgoy8+Enz2pAegFpFTTQT955jLH2/jPdbKbmLUPzEGqKtyFhLL8Z4owx2dXHqpap/SaxBBCrKEk2G3Mgr0JCdWHmRYEWwGUvIaIFlvlwDwMjGohJ3ezXok7ZgCyi/UCXbRIU7J1ml9Lj94qJnYY+O+kLAeyx96/LMv9uiUV8qbaKHx+EJOk8OIAoibrLbcMs5vvOVH4dsNs2qjXb/Kje+Ty4LKCgOkturKfjgM2OSUDGwEHnxgt39DwCq6nQFtx++aArsy5ZgeaSVtOE2bIqiZFcZ2FGTmGDsvtnmTO2iGF6wn/3SkE1OAJgUB7iKaLSF98bMDmCjY95V4g2kCaUQwA2wZZ070d9pS6ZaxwxAw+S2NwGMz2oapEvxVGtToQGZqyzO+Rgo2Wz/YvkzC2CSnvehEcSfWkXCd0F9LSLtRCYjjpxTwNrWxcrrkzPdEB5J2fq5gEHIcQ8XYWaEZ9Z5Kf94Wh96IZoGnuzxJE+7Z+dcrsGOf9LVm4cJXzdGg9O7ft4VPJNEW8jsjqV8qMlDbPIcHuL2xcGnisiaQ4pmk1QK4oPgHF3FCgFpwR/lPkpGZJ32dHMA0eakjfFmOilrwKSV54zYs0/FP24EyRP9TcOZ4t+UWQ6cmLo+cLjJ6MJpe287c34TJWip5EQmXPYAAPjaxLOlbixne+DzPIiScb1ZYURpEmN5RxzUNt7ZE39DXxSe0WjrDlpd6FJZdMf5geEgIry5kDp0sPwx2lzejYZH3JNZq1KKuzV45JjlRKgqRhWox++xr+J87rpP88IOtraInLye8GJRJMZJWgReFLNWKaIBUQTjB1B8gnMgBj6LtXL/MWB7Asvx2CdyTpBqNhNZjX9Lto6saG/FO0wKg+QzXeosqNd1Db/9aH2LG2FbW2Y+WhD83V+OgxOQZUPZa+/88VFiZATyc85bqXiThH2dmt1lOUdsafJsh1MGmJfOTGD+VzH49CM+DUyaxl5KXGVlmR9rXq+njkSFTglmj/eCDjRW3xSkt45fCfTbc+rtoX/CRcnZHCE9UmQ2j7CY6D3PutXFwrRHd+MWqjQAV9w7Tp5zcfKOH5ixZz4oilPHcH31WHtv0zRb/fQ5msHg10FqO7ilEtRCbPaU7ybgY+vlm0glYuVcRMsN4qUctjEkG5n1EB/A/l5uatckHEBMmEJYBV00YT6AG5mXza/TLa4kXLXYOHi4RI8NsspAn1dIkhP1lemEm9wmeh0e5Af4jTPf2BmejT4CvouWUlMyRTkDdh7SRNnl+2LhBzmD8tMO58SV6JahWuXj4h+6U0sK4DmVbxkLPsjlHDhQBG4wXQBLcDjFkmOcPnPybN+CAt3z0FqYfXh6IjCHUkiOa18+rlrFKwsDi9kZqzQz63ApzUN4DteCDwdLHpQYp5NH1zOK1JVZd6fmndJd3q8MOqUYdlBJQeIlJPQ/XKGfHPgRkAayBa7Nxv4bzvGABpqyRegbauCPbDuxXtd6I48o8z8zGaUHUASNgXv1a9fV8fxK4vHaVp2YPyWdWnIoBz19Mb0P/USIelVO/qcoZZJaSUp2kW+eNvcO8l0gLGmV6N6Q/D43WHxF8n326UfgN7/7TQGP4dW/60zRrpi5FaQWjxM/L/LqOR2fOCOYIkI7V233cbNg7aHuBlg2bEIlgnosarCACtB1Ws84ROt6ElgH+Y7WI4sKp+6YTF/KwSteEO0h+7lKMmdnFRhQKodlKEYc6V76Tnp7C+Dcoa5ceEvS4kercloIW3JiRhFNywJmVMx+jg0tj8fDtDQck/A4KfOqD+5EKUMiiPiAD3yJcd2oevCVcowBuLDy+GunV88MmeKjIkxwrH14DW9s165Q+17Ffg7WvtLqWLSOXKg8jcHvS9Co0drvR7HYFFPy9DB6CupF+XFGQPDPsB20C0+kztGIT5bbBzGDa0bSQsS4MJ6g7x5kfVzy3YahFktrFkJuJrDym4id9CKp3PZwd3O0utguwfl5jYyXdyqXWSInaybcjb+5sZMonJdbWQtxbzyESZw01t1Uwcfy+CeIkhscKBrMDlIAyRhwq0UUS6ghsfa6a4Pz0aOC5Zu2ChuSFl95G5l1/Va6k7IHOQgUCqb3i34t3aadNV2hXJRrYdz4Xvj5qA7mNRdGvv3ZIswsSC51KtHMRtA2/8yJLD14bdyJAaefy0ijXMIm+ZoO4zCw2RJ+eGxKr1Rdb0phofYhYgY/B56Oyzpq11lpz3j+EK6Til5DOGuJTlT4KL/J20FJRyCvjOexV1e2WCABdz3sLKQqYPZxbCxMxR8grDCj32gA1MWyKXwWdpQUt9L/6xw4k/MqZqLRxq/VLm7EDYv4n2/H5TtbwbRwnWVn0dwiiVpv/L5n9G1/okmryOTIZRJfxl+KlpznVXLwaaazWfXkqnxL1YVjG+GGu9/6A+m5ugrEPPCmBz0ZdwQESxXBJ8SMspoAf2EwcCLXi8Y7+36uqpmymBjBkZnEJPPvSTpXb0FXTSmi76vm0gCYOBsBu/4ROXVsYmcbGTSVLn/SZ8MA3HG6ChvI7fivZ+RYYX9ALTI/QF0irkT0E/zjYRDzJtKyuktVr88fe1Jfzqqc/1vWunlREROZWfodfGp5rmw19fwYf68B04C2Xm+wlbSOhYutcn1+bfw/1o2ljc6YX2STZIvDphjzvqO6GdiPSNXtnl+OtciOP+4YnQ+t7rA0yha6m8WaaXmATUdvh+HY/FWctpn2ZN7MtDGrbiKkOoLjZtQOuvawyz/896oqcJMZfizjZlI2U2LF+rL/rXqoaPHsyIGWn7HYDg8DpNAYTXmdaGYfMWNXu/rVRIcQjvyGggbq/i+y0O9WTbs8sgsWqosshwyiZLRyrPgqtqEoWGkF5h2KsbopP4vafW9wHhh8FJCharmQq/rq9xDWAoqm6cETsznz0pcmRj/8uBVxR9SnG3R6anrbFmyP79yDvqyxuGMC2OLxDq2lJ2QWp+Sp7XV00JeFzOBmyfLBI+YL6KENhIpTQbdXx8QEMIiW6LnNp1kzVYLX1MjiDskLNmxZrWZQqCQtQ124e0mUyXKmD+Pvj5fKdA6osH0Q8D7wVt+ziu6e3EdyMY26u04u5diZFOh9sjTS/HaKupcnngRCvxtJG/ynU/aPnq6yNHVc+uV/4bO4FSlhzhirzKEFj4UC/+p39F5yf6WSdR5khDttXloPjfBf3LwFfYRk/IP8gsSH3opfG73/dgKXvpzBSyoZKowtcqZEdGerRqNvIaoE/6g+b0y/qmp9ZHpD+fkW7fDJZmTU6Jz0s2f5W4wn7OaZDTiGSMjLLvJMae6jTe2SFaqCR/zwLTU5KdshvNzbXlLCHF9k21Xbu2X2lBa8j+eGxSF1NjHRrPA4m2HCfRmZ9o2cwoyRao3a7OIi+pCD0lDK2c9/NLIfVXmUF6XzxmaN5lkEyzbZ8x3pfx1rVHveu0W/ms+OK0ExTQDaoxbL/DXlTsgH0sSj0D7q/Fvy3Qaw+tlKw5WWAXNCQLC2Eho6c6ozUcaWFM6GrEO6UwfafjHhYn+vIoaHKNKUdC9dYfuN7QyoRLOrhcRoj8FgSMk2m9pj/eXKkXyfdNxbRgSaQmH2WU0Ruo4jETHFvbwQNGcj1PDwD3UkuF1vvT2Mrra25EOHbYzhPgZYFD+5IZmO5NMOyZ3fV/M+wYUbne9K5b44IGqBrRcLsQoQKhdku5wHAizqNxhK6zIfO6wK+702biOj38TPs8si2ndpn08z4KLfKLLLwm6oF7MAR/bKCFjg6AGcsxFV2ujkJ2VuEuYRDbap/RkQNr/fJjopTp+DTEXWjM0p/Tr/7ffDPTNi34TKKnGRcxAMkmkQJloDsLFKs7VfV2cLcWgLYbYRBlYd0xspVil/mHsHhOXfn1egDtHNB6Oh8hezsAjSEKSEryA1NQczrCbmaSs9SJfYW3SkGzQz4rRJLh2DCaCksx8bb1sbmo9E7XvhW7hrwKdVnbBwBMKo871E5ftwXmpMq4diVdZHA2zFIkp1vBY0FtN5NXChQidcPckFXXhmvhVw+y7uz3yP4LMQMqDI3z9mj0bKvItQJUZo3DsiB+u5qJzG57wszHGriGImWeH5W4m8f4X0H6B0KYmaMylufzcMC/mKsD8cWlJoTHIwxzZN4TaP59tsZHtFgatN8Xt5ieEw3cCRzIdwpqJTOILz61FSZ/P9KdrZqrZ/oEZiSwJ1wA1BuxN2Efo9R83vcSf5s8go4YLjVmpjYYJh8IsVvQd+oeFpz2zxK7r9hjSUHaqqDk8dpFjiLnlplC9wUkHQ24rSvTki9/GP3dqLvbAUR3arUGS0ZMMbgq+HYTIBJNuYwssR/D7X/G70476M+jBSN4/4giorxVQKIiPU5Yr2A9QLjbL36zIH9TpgG3nM01b1LqdF4Eu8Y4DeZSP0WNNXLjkxl5vfU6IMVclyqbo/stQxiTg6D6BKcPP6TWizNeXY4PmHkC3/liOz3Xp5FkK77R9Qa6MrRBiHsRw3yLi3APYvP2gBUyobFad8ks+Gh8Qz2x2+grnN2+Bs0BSGbyWp5LGP94bB6UBnDPClNf5Xm1RcKxCqO5Yb2U6DiMxdDu49K2AqFNJBL3SGOzku3xDUOGtmzq13knguaY4EPnuqaqwzeKukIAJWebPL5B4q3mtRSkZsRMaAqThJTcsvsxr116dRz/U8g+vJlR7LydKa6WDuSM9rh5a3Ws6mtZgsWv0tJT0xClpNbvzMWaGfRKPTTjfNSQSvt8tqAkokidXP2knY/lxvCt6Gfdzzt9E/PljT+QVnDMozfxM/KSSge07pfq+SZAGBAR1hYByBMuGcvDzxT075phQ/7qtUifeTOGMpWV+AdNqs6uDKubtdS+S/Zn86l3RWUwfRXYXVy5k/qHG9ayYKVlEDrL7K5TxIw/zzmA9zSIlCrTom+Jn2RiS3Hu1gyyyIC31U6RQAX24pndx7EiM3i2UElJTZTzs0Y/nzJtGeb3voiCzwFqNVWQhSkCPOfC5wyd/qcphj2d+GhvLALefBcg0gJUQkmW4XeAVVep8jMlfHPvYU4e/U68q6jbfrJ/CU6NaxzxGKgzj/YjVls7VhVVmaAYnV2+oQOCREPrKjKKuDVgcKu+J+O0knk2FgO+klp6UWgLB3iixQMYMUTkIwRWvjfL5JdUg6WEtpiOTIv0eHbmmpKZoDk/1C6c0krHM6SrgsfIKQvZ5wlPk3WwpE0V30+hHKFD9YF/J1XU7GFZBbSbLVbzLSOSqiZ1MyRY7biD5AKElE6swHkwG8EwGbRMhjBvyF2Jps6LWtrmoABCla4SxT1+5ePqCHumG6jwi0B00se8NYZ75sdSYyHgMAYPtHdTP4b0Ym73EC82j3Ofo54FNSy2O1VadM7bqc6Iy1TXRQuNV6mUqiyv6wKsxd5Rh+eARiEjd5AoRCDcWofJNTiYBvT2qHNpMwB3giuQ9TttoQUZ/KmKbkGeDLRJ/Tkt3j12HRss+t7YLWL/y4xuDIsFl/rYLpXJDAPAJYsW9Q6busbX4/KX3JWopkWlUykeCBfHxpfyVwwz1SNxs4COhDlTK6h1IBhUREgb0fLOlrxt84nAygzyffjGBnSBTZfbXN6ENNjU+olCndm8LvKebkIa1G8GwJAgAHw+Q/3QR1k6OIzQS7sqCuIU8+l0XaKB7/KgFsiCOrs2zWzKrhkFzhnmK9IZkK17xG1trVfzOr9YjOBe83wTwJwQOdDOJ+1mJht5Ki7I4ZFuTwMjb9q0Toqm130mMidRv8b3XlPVWVuIpZASov03TSq/c6RLmRM0vNXeg+BGPIKZmloL4SvTWQEmHap4pwndn+/W9gxsTy1tsyV54Opk3SSbHCuWrGio+GhIME1GV7QGXBdHIGgq94hJZIY2iKklS4hSniK2vZyNpAFlrjSBWfq9g07eKXukT9ZySMiu/kDuBCjhWDSHJxB1IJ3z7Nonj76gzcyWmS8asQe6KzYOeLDJC5AUa++oQHg+iBWKBoJVDWzZqFJrxgaGJ29kkNweIYQUMhhPapuNGJJV43xtAZcyyz5vdJB/pCTXI2IdKZc3QVtoJEFtJJL+sfA2SZM2/IMNDJgFajkSYsfnAbNQIxs+89uAtJQSJWWE03UVLh7hKQhbDpj2TTBx0+y8EuIf1kI8jjhdIl40Zj1URY5328eNOuPTh4KJZUteNhb8UzoBgoOXcM7GI9bM47m1OrVsn969ITgMILAfhuobdWScn6xdzD1OHfhoBJ2Z34ySY/iyvHVQZKEjztxaYUtqIhHygoA88yW/D9ZGivl02kecz9N1H/t6wo8CmCe0Ux7MYv5nRriltsarvhXP9iwZ/iRh95AtOj4Y69xerFXNZN9UuE8TD/RpZFYWsKwqy8pzugsrieEBZWNhwD0wDQ6MHrOst3V1wjan92g2RQRctv4IylnHYH/aFrY6Obe7ocGm21Hbf2AXcJvkDM+Si5nFq3pYmzsqr8Ccvp564ptj8QNH7pitKT758+38ijD08kBx+gTvg+ZeSj7vm1Pfle2wMDJfPVaQ83RPYb4IxkZdk1fRk5Jiq0Vg+g3rtrIGjqq/XYQBeNxZK7XMO+cOb5cITnui3Xuz9A0uKVNI382SzETvdLxJ61RKUT4ilYzdVR+FhfFjOaKIUPDi60lmeBpbwFO3lpLlR2e1VcRMzcb8IV+Pl5UufXAhW+Io6y37HLJAPEogxpvt0AVsQibFwTq7A2I7js1vLVdkKdmwBk25FzosbMJbMKpU3LrvxRLfjV3h/FG7TTEMsQynIqRQtBltplHDUQ3dm5K4wh+pqgJFWql5fs9+RgUEKGn0Va1OFW1oZ8f0hWFed792TbTt5bejxjg9z4hxh+VL/EZXtvwAyvkXmNWww3L5xGWpSLyZOg58BfcDCRWupmJPN/rAYHNr48jw6CPZtNRxh8AM0v388j0YQWUqDioknbtMtopWZUyci9ytkW6qGpixdx5DSjxAJmvMGJrq3O4+hM8tkkW1Ivh0MrZAVI50OcUALtoBJkQoTkMxqrfP35TF1Rl4oz5/l7GJ9f5pxNVVWuRKiGSVJStdJkyq7UDnBpS+b+w3zGAU3BEiax7K1ZKEV70uwwLJy8VA9OQ6utlZrRwXGIpfRe3yVeIHBcVkHVepBxH/pZLtTxtamC9M8YPT8rx5NG61DeU0Bw7fjmyT63R5ktt6I4zNMLZgOHvlYY9Q7a9/BzG9BKNY2TWX63VDwIYLb/TT+00v7UUdJb0yXB//UuRxISCqXZIlWIuELEg7irNOqdTPbDMKXKmgl0W8u0/qjA0LibyRRa6n33UAi0Xa4nxrnPIYwgI7aZuatRHj8kq1qtYm4fuWWXCXyNzCFjkHNZMG0O6gc3dxKtB+MRD7QzRoOjJ9KNrLs7GxIErt0JCNdlyAUi3bT3gdnuaIw35yNCQgwasjtipZM1ZCWlIb8Me1QSi2zOXhrHv9uBDHyKuDWsiDew9ON4C0NRICcBGSX+Hbwk+Qo29olKeH7x3ajBOzFIfy/V63lwKtq6D1PIksZL+J+jOGhfBNReBggVW/FDKbJqQxUk7Phq1/y8fOsWrwjf5y7hJkXo4LAn5miS90l9Mkl6BnIAPsH9NpUH5Q8qUQou0t9gPiFjTyq57zi64NPJGVb/4BNOeiQYhSqYjI5wtKlRPxP3sdbJV4snqBBsyfPBCwmnPzvjkZqg9RCERaBvOFo1cNaxOASWl1j1FonUY967J7znF0kS/R7EEMvx6sRFj0gnCTAaQ6AiVmiXUtUsAqEd3kgz4sPR6IjUfrN2ywmiD7KLhsv2Jx2mgBdodrBUpLf89fIg1pZ7ZtOEilblQTfAX6i9inNm2T0G48PBT8BcW4s+ikLp+MBx4/AqzW4Tko3OugaFk+TjqX0pjtqGrUEE/tvltTVVUCRZiz9ee/E5h+vGG16IHUEEB4QhgaN5hrvLuR+aykvsBt+8H5wHkwGlUrZof11givndYAEaSeWSh5u56zzSGKSoyFscWhXpsCp7/H1tSjNjFGYcWKsivntA1j31rLIbJQqpdjYL06Z1SviydI+8adzbvUgGi+1YNrpy5tJ7Cs8Ab4GVrwltqP5zOKKGfWI5HWNtYFsxGTZC3g6Rgdr+JeeD2g6g8xadCdP8y/Hz2NRWcSkFyVgPQ1jdD2I/9abNNjz0FiVBE0Nw/L+1oAeZuXHmqGweST0uzBQzeoCwVdDY5QGMuBTcArD5lyVVuQfjdhK/wkjK2a26SPLyb8CZLeP5z5XicqCFryD3nKb0ou142Y1Py0AUT6XAwWUlqangIiG+Pen5OQM5gZTm4dDBl67z0IGOwYyWpwWWq6eSl0aog48ch52O9BibOgpneVMOwgJXAFNHBKmavhRsyc8oq3Y8WdcHPt68fRYmZ4zhZ6GlhmLWKIp+4f6Iek/uBIdBbHqIbKksHpQm/nLMZ8HO9ngr7EZM8DZ6giAJJ71Tf7DkDBLCbLWHjXudhdaum2yfRUSdExzIQe8QCcjfQFAc8qw91THXZqZvyIn6x3ZdfvI2uFCp2bQTBIVu07lu2YSAKoArcAxGP7ENCh6lrwRndj+3uozL9T7V7Nd4VI2H6jU0xwpKh6X+agNzTilwOXKDd0HyYIA5wvIb5LOzOck+wrfzYNEBl1ad+RbZkXU1jvz3JTq0IRutKQ17f4K00D3eji4wiNUpr1k2hvaWaBAd2pzTbKrI+7PS7xr+Z7Pgzp2yBs9jrm8M+/oallkvEb6WWXBUJ1ee6FKN8gPwloKig4OyUzqqbjNXGrjaRGfmfi7dGMyf96EBatZcX+yQ8njp9RYzj9neeLCuB5Imbtn/Ed0gmxEW85zS/7TktCh5l0AywSZIKO8VZDGREQOS6x5X7gmIHZYMZa0JqysNVWA5Xj8JPsc5y0H+wtX66TvynczsdevuVDFk+tPopr8K7z6cdwRb9OKvg4CpEitMGAVSwvM5amglhJge7QveGG3Sfh30zAqhWWQunCWp5geDFda6EGmuAHdnK58qgfVqBLYDkck+5NS1JJCphp8Y0GcQEOlhvYN/Lz5GFAKYOCseFcsnx6jt69B0IzJnUAX5Hg4uE6lXzrupuclFXmGFuHY0CftIMP3CULkydLm8l1v3J1UCEvR018aJIGg+4/xG3VmYmDEkcLWoCCBMGYd3ZViiAFI+L/x7bF0gXgKyI2roCNui3zYpWueB0oMkFA8NaYZliNzW37+dOjRyFTrlAD2bzeNnE71gE/xbD2p/seYDKFgLMDkaJ96T3cBCGVyZ/qyf5R1zzGgaSSF1IMMSbUGMc+zMQPVkEx0RHyUG2YmH2swTMfbmnfvvFc2xhE07ykOCtkWhiBnFIPiUUB5o0v5BTD93wmM/3Ta0aKJq8Dn+ECATzH2zHfknZ+3zrOaXoW3hjiZUYC6Qp8jOk5Jm3bMRb3Q70XozKEfDefPewg8RUCzLVfMxhdZiRGoJW1EMFpxNG3/a70Be/Lh1/weotq43tlF/f4jRjloQ5JJfXqRX8aydrfkhg15egkBlZyM4rcZJLc2cbnxTywINCjkHcVFva5yxxImZmqpjK/E+5ilPYj+ofNNk7vNOyj/nSPmAUOly8tauDbytAWQsMSuQ4lm4jIQIfNhxoEGLYKwMT0X2qi8kgkeFqPnXLxhFQoontCxeyOsETvpSI4OLxklzV9W8a4Jn2vu6/6g5S4z2qtS74Z/Q18uiun6c1KLkpohrWWXZsjwXgXXGpUIvFMZz0BSh9VJDtr6EGJGII+l9V+35DQzStIQmUltVrlkGFqJ4//p2EulESUgVZC+IingSORZdk5SVIza7khLlB1YJMhaZ1F5Lqq0F3fhO8VzK1XYszmEdJ8Y6RWjQ100EfVwSBHFkJS9g3rRvnAj2b29rSOK3I4ycNHenAj0mqKT73FA17Q2l0zdZIwgZCA+45jsa6g7TzfFHMYsHJu8dh7dzgxpzBR+7bXVdk29AY/IPURFeyOND0xZZMltVYNGZxbOBesEPpvfeT7rgktw+5gjjtfJxNTl7iJifWU4pTCbggfcC4qohWAX9CexX0YN3mAU+SIt2OkcKDI3HjRnuOMgZMh6x22PGoBkHiX3hkoiAd6X8i5zYTCLaWvwV1hl637LRdvtjHuX++w2LwP9TzDNDPXDZf8wV90KR09UF7oaY7gshf937dJuO2r4PCQ/xtKpc/Sr+5G420pAsAo7ODdBdC9hHXhVEe9SyGMepoijPNaFTkA7OiEzG2NoOq5A7XzroAGmxTj+t7nj8IJtDhOhvvabHuPwT7k+a/ZexULe1eEdO71czWCE4NKdiQUcNnMJ5Dt8m6+u35uRdJp2YP1vRVYOBUpjAQQCkkGsLXRaP57G6SfcWmHEiDFcKDn9zofUotpvH5mSa4gPtjHgy3ajGwXl2KKwoLHm4BLRI/EmpIzjy/an2fKbprGoPa2/8w+G0PVgPWv3kiSxQ0t4pL0JgeM9ju7o4hfs3D/0sn7ND+Sy3uGoBoZtiYZPftPODfZm2pCjKCvahKSMlI9Gm19mCsMAZMt+NhUYehqadFRF89HoWKGysjrccWz20VouaItjl8WD+z7e3QxLyIXp3cb4QAkY5ZGmfOxwqb/TZ7Ek6qqATioYvr9/hjSwwcr6m6h29v+zyh+fBLHj/8C9RIjPH+zAt2VsjZmn5m2cbVOBRSMETVWKnDa7B3hcJX1yutKMBkNOF7wLTVUN+qwscKm+VV8SnqXmKL379o5cXQOF971VIJv9TeGom/lVqzP6N1UeI+GrRmW/tZ8BTx9Y9eL/BSvMBRRh5uIvNTLSTM85hpsgGd4C7Nne5YP/61mri97NVvK1e/UqTurMvUQzfYgOFpbwLajt0X2GF7gI54rIF+iPNtyjBW2D9PCfTHBR7q4/KiW++4zcd0IIDwHXBhzJTMmrsOCojTcUqTYUlndeyaWUmKulWQofyBMGFJ9K6TmJde9/+ATHot1VxShUp4nFkN+sA2vt68axJMkPXnOI3ITxhFOdPiQKPjBhH5wDynLg7cvuTZ0rrPoMNFGph9TyajJVCoggtZv2W7qy28R0AazhXhrflhviPsxGjWfXSLASXsl3U6Ffm044eJsL0d1Q8ntg6J5jdXPvDZq0ocdJ9/UN3Aixscrubw32FALWJYP3ntNAGOmdlfvW4bftqiwiBmErlOOpKOUAsINwA4c3dDnFWJC8W6BXvkAWrWoBHMmrSZ7WQYT59qnApMvJoebozeBy/VUEX0rh82QX4x2tE5GE+NA8XxwPWg4q7J1sfytfOvKIyewtS6bV+k5so0gSWJZi5uZ6umK75kK8RIQ5ISG9K9X+2qeT/jnPzzrs3cYKg8n2IIz0zeFwVIOOpUZP9ypAjLFEm5NCyTIw3rJaBSHH/2SGQm6l9+hFZuobGNzFa+sWcKtmc/Va7vvXUTvxXx2ukJU2mfEdeX+sTwBufFZdqCL9+F5Ao7kXxqb6bk2kw2/1cRQZVXIh2xwxDjnbRmTkNECcLLKkwOohC8PGyxOudiQfEpGya4mZxnMZ/Ie6fsGJxy8D278UXHOZodCK3imGuxLTYvI80uysf4barpbGPjSyCxllpVVw7ebjh6i50ZwJRE3yggMs/XbWVweWrms1qyr5DII5dMi8ZqzdtmO2Djd8PQ/WA+40WX3hCXXxmYuITY6DJeZ/o064VdG6u4mFGqHjlg8/DQJfm1nAwkcB1lYKVieAdEcSuRXwSCCoH88o8gTNwN/FPRqxmxT982iNA5bofignghLvel0F00cdUDPfAHkJ4EASboWAX2CxVtdZRrkBU5gjpi2JkVn7sPNdbMEFGswCyOuWY61Kxb0EPiZKvh5nf4C9JHse8rcnwXxcdAPOoA68DwRfBUBzlwt7GrQx9EHV0ckrxfT79m0hVBqetc5YnDh5W4F8p5FF/0r5xJNj0nuqDqNDZ0BD1f0ju0Al2Gc0bqC9je0SgnkzOdCGwqJVWAaKfksCWd1HOzIUOqL3JHcxkXrx7hETwqrTH+/grKt+phxI7iDI2BtTbSebzBiFj1WXWLFV0rdzwDo9oTFkVki7qiSkm+tk/C8acWk90wPVHBKU7dDw8YuBCBA/biaLxP15VA/rw1I6thFuy2CyNtNJsa3VZIkt/losHVc7vcumlCI0RqBDa+UItOkMhieU17/3TR8RAb8WY+n6ddfXck1kjWmfjCVBXnZWC3+d5/HDrXM9sofdXPK3WX7wYztmSV2sSkiobkr6wVUHLuONK+6TJEXVUc2ZjznBV1e2cLsG1lljV1tTQ0c/Y/IHg6kkyT6NtK0H/jM8ummVpM8mMHRkHc2ZnpK6XEZMevzWNq4OnQPI2vcCDYDATYtUMjmNXl9r2/7CbC8TjvAJUZq40rnsBqQt3s01+UXej7DRnjl+xn1E8ky5NYkEy9CKuh8T3fCbjPWnPrvdAISSv8nCv3GqdV2caNJB/mWbRQ55Hlo7L9rid6P54TJLPSy+wruGiVbGeDBlM0H898xPaoF6GcV4FYJcxl5CDkQHn1Yoyn1bFaLdc6xpQJZKkYg/hL+Hs/ilQEau7WiBEy3hcnebFrBcdp7RuDZVDPqKg1Eji//HdOKlam+WFV2eaewbNB6YZoZ9Ot05yQF+LWMM01QFMU/CwH5RcOhVGgx9yvvJbZYJMOG7waWTEvIjMjPqqYyS9OYVmJ0xByOeZP+yLXO7Va8spI4uMm3NmBw+HUz/X61AQAflr2HZnBRnW0TVQhwYH7QqVzwKrkBMZm6wnCG/buN1ogIzwQ9m+It/40fzJyiYRk3IIe9IV3YZjWL+soooK/UcrqDtt8mtE2w1hhbiN3jXt3WDU0LBA0jQfRLOzZZgL5XiiOjxQtzcOUPVJq79Yd8LVaDvcrJ2/fJ3JdRkcQX8Tf29mJUf5vdBNaEBXVSqKSbiYZ3wk+Ho522go4X9N7D2CzXiqHIK+PLax187cAKFx99Kuc6RD21dChEmn6YyonU/9TNSksWhfaRYNndyea/eXrttn8on4kcEI4agnxbcVX4FdKEeO6vqGEd5fub22Gcpznhv1ZmBF2hgwtPTNlADcp1pHrBPyexUcxHaD/de/e1/ISisTXD+M+LFpNdbKRRPnJXjJjwDD67af98fM9Fda2fR6sfPEkk3tPgU3TFwxjlFfOsrTrHRTYFVKr1md8yfRX6vbcsDRbdcD35aEEJS2w9ZlgWomvNgpjJJYajffv0zBqp2pelOSHAB+x14q4zgb00VucmdEtrAJzL/6/9QmkHkRR1V9w5Pn1ldUNParz7+WILbGAFJnsrDIB9m8ko3eT3ShAmf5Lwdcf0vM26ljgOBmNp9cOHES7TebdKhuNJY8xxL8okVK1tRkz4Q6ZccaluyBvrxGPt+I7DSJ5jj++r5yYoHsXxZq0/pfBc2V36x+BZaLdKCEkchET7W/eIX1SlmcnE+apt5LEa4aGPgo9lArDe9tCoSpolT0AXrQU4WdSQvo/6irroSmidzMjZAxBy4tmzbES3MsI5Y6e+tis+P8cl3AW1Z/54ERcfdHTpfv5sY6/S1GZSeVlxhwbYICMJmGQXCcml8itou49VyQb19oc/DO+hQT5eg86n/qes5LVHm08muJSCouk10ORID7DOgfgqDD3W5Yer8W2i/p7i2yNPnozI4KxPSYdjhWHPwULLxVWXyjKhuYukGB0xJdsUUqXxbA/BpyoHfrJqk+i7BsUiwOJp80T2iTx7A3owObe5q6uhQXQgstsVJB0Nm2Xt+bPNZ0tgXh77img2LSA6gm6P29FxUnElKB3ZLl+xIVM5S5BEd8vZTUeiJJ2/0x2sG9WdksEyL5ZhG67VoqGJwxq9mg93U0SMXkfjI1VMjys7utvPKvwWBVR61xPRsToxL5SJv9Q7Ph2yoK5ppJ1XzpqCpfa0mTDgH8B3S74x1X7g7j6TpE6uEO6r20MrlgfDuQiTnChH+HyPbI23GGVC/Cm6xJ7mQKgC1YooVuFbkIv/LeoFls0OvKl15n/D/BAhKOOBRXIIhCk8JNWmbQR2BeIpayJHaDl6Pw2gvtbuxb+ct4IjuR0XVQvt/x1WXvb2kp5PputmRtZk2hDA8tlCz2e2j4sNGjZR9ZOYYcan9krXFZdyYq5GLM7ZqwXz7RPYE7lSbb+6AREHtVHGzEXz4x1ZjneiwJTpKHxpCT85eD7LR/1cfZpLHGY+YiG1C96jg47sqgmksyOdq74ZC8fFV8MJAanw8PyT9BhQnXYNH2eemPyjnv3qVElgrqlQ7MXZivZHBXb6yhXtdvBlW7ulkMKELlP1O1mv1o/OLbBT7MdA0X2Nura7jcFSa08nVTJk+vnuzlvglVIsadS0yKQWZ4fMe4XJzqZuhNt+4ymAVAnItRO5SwLrNWc7YJ1fuP5oXQPjRVlFBHLDv0mOsd5JzKj19AAoTrzqGrMJiAvEm/pPvKtZSrsY4ur4nE5x2n4leRyucUkneoBjubv3TpAcDkKCRL4ya4Iu+pXX1F4Y9Pzi5674cBfyRDBeMHCpNYTlRWOoaAXIFpNGBPCrv7BzUIdZt0zPgXZaUxXLM7PApJUw2QoZkbm5kSp0XcbB1FT+bd/YQQGCQWBeKP2Jpq8CoYayJEW+VwqJs6rjyx9gHYnXbUJxoH5R3SA6IJgeP3Jx61XhXlbPV96uGmfdh0KByyBFt2CD12LEDHYj8/lig5tfMHhCAjcMachoJjiuaDY2IVlnQWduCnlr2jfrt3IYuLcmE3PDqAFwiTz1BkzwNQl7wXTPub7ikjsrquQf9H89BHPqf9GEJNJsAiTFYj4S2YXR9PUmw01pCZNXN69wPf+TktyFhJBo4b0PVoxLzTFrotT1GzU7yx3jD9ZRJx6M5AcrWVqVZBIPv0YAqDndogZFkFLgKWyd3PQ2BDSkmRO5joJ+k/TYAO/w9XuTYe6bXImoliefLCBORzpxyyoWyYwU0o/Z/7Omh2HExIQrDkWshm/UOL9g+hfzTRsbp59Hl3OhLkhGj5nEFtEHXWqBG5WaW752dFBz8Ql6XVIPVKcoLaLMMr0WGPomrU+ODMlSn18OnlOdyfaRfmWkeLBpdFapjGTVy3e7k3F2Gb3WRuYSmeLxdX3h9j/cqbeKW9lzfktKTpWt6jlYBgS9bpBXh7qcAIOoVhpn1Da/Pvy/auc3CF0Fu0In3ECvTBzTY2l2RvZYk8pl6VqZrUtGgcD8U/lmO+lT81p0xWm/KGNyb6Lui+dGd1ZiVd4kPtrhRCYrJdPeFVuZ04wLQlVXk16sLsr+Vg/oCrGY/+BTTtnBoEDJ5uvYftHl9Vpadl/zoTjiTvf/QZTruxLiq6xjVjgO6nHRqzkmHhAbKYFW7Hkqcp7YVP3gzrCrJ/OAkv+QnE0UbjpdQqqGulrb3gaObW3TqebE5SJLEDHw3jsCmWNtSPAXWT8mdiHZ7r9qu4NU/FQNqTLJ19oKtel/y13dd0dYjD2Fk4a9fTMJeXak9pbO0IupWSFHo7SG5IUvVeAZtOGdo5s+U23YbR+4Y9B4wsRK2+h2cE84BgnrvP08xFH+x7eUKEKJZdxCr7MrEpglGMA4yO0YOy4j5F1cKTi3b6y1PSxjjpv9i+T0ejHnGqelQL1nueNt2yfvaXssSmZk4JofGwY+MLG1z4/Lxrz0L0gz2SkwmaRo0U/zEesvLgyNgYHB1GZQOvEnLquToLXOAUWvjiLK0jtNvS393vcRcrt8J0R6wPA4lQk30YVfPBvR9fPyaHjzfDh/m/Xm/wu6LXGCJMzA8Y7A5VeWjI7scywC80bRDJOJzL15ZiM6CT++ps5hnpR9mw4pPfXKpTRP574kl2Sc498GiJ9sl8vgA/Z0+fb89NbXAnHNe/JnfFQVNiIRDF581Isdc16/XTC8XoWJf8dT1MoWC88ht9hsgHzvs7+F6gKo8e7eIpKUhRfTRRgRiyW8sJNxpmXU62ZrFv2xb2VuSZIOgTRUna2kmqpVQddDm/CKzhWC+1atWT4F3QIlPOHoGJZt4wS2HQJc+vImVQ+17jYF4M1vhM8STu7ugxfPQcadLP8kBkJ5HExJVxkZwSTP7hnmetPPnKeiRyDdnv/Hdc6AJVeqEsjY4RqOZzKAKj2jca9b0xoyhpKpEq5zhDiC9m4IJ+EBMxtwkUy7rdwG8APQYXZfTX2GqxGk4pBtfmHhcS1p/kq9qFnYp72ZV2MKInLzJw2iQU2WZD6uQyg9WDDNU1KsZd0qaO+wv8wSEGHhVRukZWWfsvv+34AenDsZWKbd/YgQ0EELhEWc2qCbZn0Lhe/+4QCX/QD1NltDTexnsU2Izg0K1B1VJjfAZsbrEZ2YBs/tgMr9riFLwhx54/+LV4zC88YaazxHzY6PjV8D0Yw0+WLpPBWbaLmegaz1EeHgubbHi40/XgbjDtuHAHZfhogAN79jSwTY6sHO+ApOvqKCOg6Lgt5rfNZ28jmRbIU2qm3hwJHj/VhGN/qV0SUm4ExCwfEKIh3LkmzPCVlb2bEFpgssOtoDQU9qMBZqkvam7bUKxf/dRjM2gLTyXO+l69v/zpKQt+OnF+PKSCpqCVf/q30OFBU92VdB5kbpqZpjZYKA8CSKcbWYTq4MqhhtaSI0+wCFhYEInIVEexDxPNy9LWI0A1ePeK/hJmHnUmKrHWNVVaQZBVNX7sxwVsD/eY4C42nSZ/kEmj4NWOYIg2U1TWds+avvTnSoMuZJQmN/3V734quWoY6mUr+9YMYgM+H16he0KPIjNmO7L0pOEcMdWZocJtM1G7IsVkPF0+df1djMrfwy1uH4CDQviNAJZa6QZ8SV+c8gWLM0MUdTWghQc8MrDl8NYWiFCuq7121aw8bZZgFvWSezfxT9hxisnJnQsXuJBmSFsl/EYoCvdmu+sdHsaHug7/BXZGXmpEsnQKgQ1mwhtls7MFHFYL9HdYYnKThq+rx+iDYz4SRyNQUeYbGMlCJKIct0rhhVhBI5mCiPswCxf97ay2ub6O9B1RsmXwSQX+RB1FxwSN5zvadVAEDJxsJuYehvurTK2/kF0xt+kFImXvPt/6QLhWT450HlFzewV1ITGCBY01R/Em/XairPkGgUfpmtZpYfCvWqo8kH7vbnmA7lMWTe6cip8TOGC1VUZE4kpukCnmDSNIbTgnGRKC5USW6RL3CPWnlDWyq2nFSkPY3LbF+56w9V0evNDbfDXF2/2J2Og+te909HCrIS7kxqOYW9KeCZjmegl0PjVq4gN8R6ibr7/ujvwy3DBJVLUQrz+qeanpvCE3I4WNszsHYxZVcd7YsXPMG5F68oJcIM0qj5KJ8MvcTe8lnwQZbU9NvLiNXxorJllZApqiQBxv2+1oTFp9kLPAN0cSgIKDBBfgu/xbcmEQ4wKWzAOj2/YoRmc8SUZi/4tXm7emN1jH4evlef/5ipTLSL5cC6bOjFO3ypLHcji+A8EcL8RgQ12OZ29DXIG3hmp3Vr1xBPwYFOtf65jUzW2r1RsJLO5u0OnmSJUxgj8qgWkRwW5b7zslXbhk9eXMJourOPQSN1gxSi2FHPdp5bKQhX2dVfThldhLNJ7VPBHP2iR+rxycesxpfipZ8X1V6bTHFUK524rvb2WCla+jwX9Db1G3Cl5aXezR51jIL3aOPTaOdVf9/RV8O0w1KrKHIHT223b0+bqpaV4zIIRbKzT9js8j5fpwz4ZfXtlaXR1F80Eu50OxYqMhqok8T/jrVgKoy5k1hjjL3kvzhzBe8AVMu4x2VodBolc1YW9DO82IDW5IGJBKwkPA6f00KBWAKb9Pipd9mbEvhVoW/4oBEXiDa3JNI3980H1oiX1mq2rQHQrBbfZYS/MWb6NwphnLz9BWuLJATXbWvCxKWfdkT5VaAO8uVEVmBF1BRIbdANNp7aesfzRznObuFBFaK1Eis534NQaD26ZQ1gNc6b8+veizFY31rCrLdZqlpdp9maJECtRykSvYFS5HvKOTs6AKB0lDkSx8p2Gv3Y/ZXGS2ZdKjNJuKugj4PbSMurA00XTntfMrDnKsgI4jrfwwhgg0JYxmtnAER1hPTzSZTUI32d40l8OGzsqQiZEp3M/xrusPFCs0qTw6LJgrEu5qofmHRM1A6OVZFz2gMaPEzGHgsRWB96BudD8Lhk+Qnzb9S8h0frAi37sQikDrm0Z0iIbfjZMBi/h1ybVa22NbIYK05IniSPBShfZ/J1FraO13/XSpaIqk50Xef8a0GXvqCkcmmUq5fRoKK4nuxuw13NKQeAgZSmB8zUcRXdSkQGbYIZkdO5a5EAxkpWAgE1GC91XweNO2EWXKKTHjdcBIWOvwjZ2vPSaUVAyWkiiGZoLoADvoz3n4WNmEiWD2L7JKfIvHD0z5kIgbajXGbm1yzsBf7Yl/4Ev2znguFqFSZ2+nklMswZy7mPtjIW7ZIHCmAUjE3aRDs5X/FqIgYZF1YepZVkAsEpxIMGRKeDYIezUfBAlufCLXWlgw8y8Pf/wK4Y/gft/l82leKZwfN1FPNUiRROIQnajIeYfpQRJ8T/tNe2nqEchF5iXKv6Gq0wDTiyHYI6AEFFkGg2WNidcQyMPpMuVXK13pCpX6tYv1AvNrkfV4p1xa53PCjkmZdSoFyGTaMcntBVkGKhk5Dc80nYYDEdTlyTftq+fwoqHgQaEyZPQ73EFk/0ZavsCNMN03nOSUefx5o26HkSbye3oDCbHvoUksHIB7SucZuFZKcrSSx3JWeArAy2I8+vT0PLuSLU7bbo6FkgxwxZ9rLVhbi+oVPU6OuNzrmHLb9NI1RwyUUarhOjPcxQyJKaCzbWgGvVFGNJ7Dbp8d0j6cZZeDjB34H5mJ28mP7SAJxJ3at0GsQERBeC/16cLh5UhisiYSSbVjydSmMAm4YYn7UJKs/KKxUS05HWjdzktDngo3tfDRDXwlL2fj+mxpn/BnyqpgXe176CSX5am/nOArUd4izDBTUiDnSd5wCxGWKSXmV57OlzudNy9/Ig7/t8Mu/LhveghHN6N+1nPxmG1RjG8THUAwkIGNfM5mWOKlX+N7PKjYwludLgfxlLM8VbzxI0CZJ8ie6LV8dFLOn88O/T917nI7gzSvU75dAJ8gDd9uh19CXmAGgy/dhLiJNKWKQufYKzOuReoflnSTzixuxlGtiWFd64+u4ld6OUWj6wQrcpgpPBT5IR/jU2ckTA8pPapbaeGeVlULcWwN1jCh5npqN4WIGwZmf3Dfs8UB4qO2xlWqeYIu8a2QJ2d3Ww7JbWZ9cmklLQLbAWDLI+r5Hf9RBNHOht4ZeJI+UIu09xRtv6bIOB9/jHRGNTyap7WePA8Ms1TSzoCrO0Qn7g0qCr0Eb83YkGyq+JINH8N6gg82jfjP3IvzSPymlzWHIuEUL1MwwulFj0jL74vN+XqnF69iePpEKgTAQ51HzETh4voQlLsxoaxiIxQ0aPZRUl2F4SL4WwxSasozF8iHCZ6LyN0Y6IMSMHrF/hI6AwQtnt6rpL2I/4GyrMVDo34b6vt8wcsIuyE/TQSnuNwE5QcclKX6dwJ9E6WHjqFQepg9ySSajvDQ8uXtEoHZRKQ0c05cn/vxo4cPVxx2Z9A1yoF3IQd4EyKiMqfIKsdgOniSV9o8L38az0nj0UQgNZKiRq6mOkDyuq1mNCq3Cly+PXvu8XhIRK1ouLGb2ddpLE1juT/p3oULEcCfIToMhLpqEXNcLzW+B+Uvh20QHaWH9j213tbO1AAp5YOopZTUAoiSoShEJB3VsVLtGiGw9Ynvg1Csy6vhG+nZYfkqQtESacufe/vNziSgwxpJ4cAfyW8kpbAVImDgjcY/JLtuz+o+1mnbNDqy+SclsZSNPFfHBJFIvxkoLUZ09TrDjdLsoISL+qn53/RunsS9s8hz8PouIj3pLeEqeD/0qflIkt7/UqnwdGythEVhsxerTVGZCrZ0CkuFtDGa0dP6LXYFa7MlEYUILuGKQf2rctoIZ0stFJGRInAfUR2N1oOx0YiVt5wbnWNlrGSZ9BbDPvNRnbPQjLLr060q+L8x6T9Te+2PVVsRLdw4r34NEGaUFDaBDZE/pMRpA1t283PgbNubS0/8J7iLIyVdXUXLbm943U1kpPZNDHK7KOsDFwLSVLzKMEIA47vez3CtVgzWMiSa7deMF4ix0hzcjIFmR4PtKGb1xia7IBI1E0YbAUdScLNkCAlt4lnyZmCcslmAvGj1Rwz0P27mzAgoneGboohuFDjFUG4VFLSqbMsxQ5o1fDhfvyxXyhaipeAlSZZORbpIYXN1s6teqJci0fu7i9YPbL8mspQ2ivtyCra9+zVD5eOsUBhG6KArLzsv95lKOahZvK6nEnCSaLSqHmvZBMS8/sw+YdLAUVnFYEQAJlWGrfp1wBT0c+H6VffyT5nlBwdP6RCJmiULuCK5QgjHWuj+elvWTwAG+kej3tfVtnIiN1EbAmeLjI9Ji+m7R/aahlzrguRd4bzlwWNIjdqSosTi4wZO4V+0dcNQUr3K10nH9wj1DAr/jVzX+5cPay8nzp1L9Yvn6LoRiwhEUF5yplb/GGt2GzkabvVhAfUndy4mG7UydhLPSnv2ue+loqFGymvtNoa5BwVUvOa1Edi2Yd+FbDfAhj9RaICHN7+LJeGD4aruuBbOyX3zRJ87FBl9OGypwT9ZG0XBJcm2Ab68zBZq2gGLdzs8B3CcpUqn5BYrNVG1Ng8Ne/j/TK4l8Zmnu1gVF9clpBvzs7xMmpXcxHrbpHsDq1sDivTT+eri6wfGdK2JhBJp/RZFlRXiA5TFPkiH28HDf+I+xspnBTksbH8KuhGWPrbiNIxTnAmCNWYscto+3Wl741w65MfkNpr8zhdf765kPvR1lzQLIUvBBLlZc6MtWBJaLMDH8u5lYboQZEqO6OTnhOsUyBruMLcjdGiq/uKCvVHiQmSnCIt0VJK6nyQGFhANGnjg9ugTgsaUuFIL7WDUnMjh/Hpw4zICAgICAgICA8v2/RUft+m219QV+37c79n3NX7Sr/h9nxfb9jjgei329gN9vcQ5ft+lI/b9WDn6g/237ZP8z7Ur9Sh32fZT32/Yd4Hpf8O0C+3upcN9X0AF9X0fGvnD31fXzfs+wq/UTf7frR76vq019XV3fV2QA9ABWodeLDW68wTEIX2xYV76uklmGgQbN+rS8iJ/LpZhhePZLY6uVGXmvVVbFh7w7O5U6n/EYVn2TPELSCXOJLn7ixvYqtkYEFLOsd6uZoS0wOfl3gdRBLW51J9HU0heLop3gxntkfEptngiVugyi+1I+uuQO+xiEw49hf7NzLZ8BZP785lLcOtwaoZNH8/vx8c/OjjjNepTSYjOz7M2/lUhNRaBUlPZyUbEVYUwAbLUL0kz7k6mRUW91Aeo292mM6ISG3CuKutrHaH5Bep1XLRfK65DcUWOEUXUKHuUR9Ihl4SEGsTQCvTcWGDO3ij4Zxz55mf0bMMneYlMhTjxkOAjrw3UuY53T7o3WqaP6zVwm/XgWiVPO2CsicZmSIw4ydhU1fy3lt5SEepX8LTpKK8MXK6g57ULPyyrPqBq4PQJXkmKtrYEQ8Yqyl+jQpS7b2WIwKbtr/0xoxHpogY7FzJ8eFZ8pbmHiGATCY0ibJLph/3u+n7qrVGpSqNrQRviTma2IZLP86bVTy7Gk0lG9FAbJsoqxrv8jKfccIzANP00lwM6xhRoybzGm4oR5OrHl5mvW925otBYnqKUXaXvfawoJdXyz85/SOrEoOV6Xi2nDMv0JN9y1dQKZs4XvnlluyMQGnuS7GxOh4v8EEFeVymZc8sryuwHIW5HxghU8m+qHCG7zfudpwmYV9Y0Q+d9ajo9ORMBIro9xnUwyp3lykBvpgzMXjAVHNDiBa/pLbJRS4t+iP9FUb5kn5AaMLm5vp181CGBtf4tU3tEkiIixZiCOIzY0ZqogK4CaxnTf/fch8/TbkXLsT6ua2t81Dx/VRS7XprkYFLDjs+4GuL/Ha9K6tpmjp11zhCHkmLTRzjHe+L2yP3U51hCzYZv/fICGODEuiNNOcciWE9gf0HWEYL4uQHn3a8WasUAx05EKhf7PgN08CaB/3Bdylg1tUmK5jHZtCNyOy0bHTMOSShbgIbJMAI/k6itSRlJyBY1HlCUgS47Birdwz2ZgBtXhF679HqG5WmL6vm0EiwvV6L3muUv/WvoV19cFt0otNl8SINJn2ANdEYWLEYsS7Pj7WsPjtHjGdTncDYKvOGVKLnWShQ3NWxITRe4EjasE3+OKpidt9yGUc1zC74/1Xv8A4yL0RzrdAJaNHVEnOA9futGF8wSpjc0wiVmFtqqwv7Ho5ceFF4INYkRjRLJhl3Isu+09BJHckwDnilhvMtVtmbqNIljhGk8Tdl+5VMHAHiW2e0O6szxMmJnp0dN9n0ylQTnvCuWn+zDP2ngpQ2q2NyzRqdqwPQDOOUt51d7gPg7td5lsIHB/+jnVzil/8gHErtSrXIMVA+U3Ly7WMg7F3j3KkaBX+aDGMclvWHyqJM6UU+KxZ/JMjMOi8OrWu0LTCb12wKxKj6OfmQSmSdQpFjuc7Ocp2nPdP1pieDu4T1dJe8vgAy3PEHyGcCwMx4QKAZqzJJ/d1GUz9NumWDA7j9PpVJ+zZNUmrqY1v+NUttktYEgTTdbZvtsDpt8n3vkg00LFJLkFvRLtsthGdI0l7IqZDVM3WYkUOTm9p1ZmXmA7kcFfjrmoWUroP/MMz1+nl7+RcYdg0/W5gPcl4o3uplyhcaCVkLVANusk6V3xKzMVcWNrR5Xpc86A10huNsfWfw0KFVqAFpjQsUB7DYrHOccTVZWJFfalCQMYhC0ZSKDgfEV+9SDF7CeM2mLNqgSivVwpB3ngcTigKR+gjZONNz4QtHNH+LFPaEMSC48sIXITJWjyIUe2CBFqLf7+BoQ9j7B85FA/dxoNTxoYuubDCJqrGMNgK2zfscsUA1Os0V53wMGT+NRvv4plB4/sqNwAXqgSBPVdcjeDnul5kxTaXC9bbT3/Uq7FPUUBBthxJGOqQLiaFRPahvOsSEpKLUHlIlPOVPmfqdLZQxc6IzW9pu5DXTiC8YBETMMWGRK+Byqy+vU4A2dSEaiEWwdjDFwfxT9DpelFiL83HM5AMDmKFD5cecYQcNb3w7R5W39hDNSjSmIjbjQPiTwZAFQ6b/Dhh5w7mIw2Y+55dn4LSbafFqdT62ZtF0C4uHvTepzPRtj4UiJcVrsLjmgw2QbM75soIoR4ZNrKefL8GFJAW2ozVx38+RI37lVgM6WcLH/nHj840UX2SuDPFkTHt7jwr2axU/01VnZlxWoDe8+5D0A8RwKsdP4f54E23kZ+LF1ckOe251IeaUa1yoko8eVRZx0mkIEYz2s5ehB40HohHA8ziC4cUfbp2BXTJBNDKaPiVi69sGfD1rKnCW9rTzqAPTbEzAwbYzJ4f1Mk6mL00IBvhJaB1FIAqik0M2qjcdrtcGyGKJxmRGRG2MGDKjfjLFgYP4eX07Am+mO4UT1z81+thRAwp+2c8A1Eimn97PYEQkWT/OUWppZzMCbG/c1Ffa0vas6XS7bD27IcQwiLVWQ9VGtSqZdTMYEH9H5PQfq/ERzBZ7aXZ9Jn7Jc10I8KsuX9E4LQ1dijl4o7ysLMaL9KjaTgZvV3WZ5QsNFqS6How449U04fefnUlVDATNb7xkKpRYP/Rbu271lMa2G1+4xcRHyY3+D6btlR18fTFb9bowWca/amifTBeXBbCcC/zCQJU/6yboixhFq6AQiaLBq7Q64Bw+1Ns6CSAIEjtSyQ7Q2+ag8MBx1I1XnPCCjlSEf/PLH9qMbiFV/IX4JctK+wH1Xiq+Tt1gGz4SMdRth1ZsFpPtQvR9IOQymbwsHI7zkjcmd06Ack6WHO4fstcEooACPOBDsdJVZKc8F3t3mHQRVwFWKFpfr6nVcP43lG06eHwA9iHCgLSRDj6Ja4Aas9zRp1tNmUrePjAsrjWFDfpa09MxS2XKPj+YYXYNNCWVmQh7BROEvWlqMNlp+MuN4C6bFYbIWGaF24qYrveDgTJvtiniRmCCzXUxXYpavIO41Qr+zBlw+828Vi5x/plbhVxFvkvU6k0Kdm7hwYRsFVtKpe4YWU9J1Ebq6YuXpBTg5GZWkZZNSylbC/O0n6J12GuxNL2sp87n3ufGVuPU8ANHeQaaK1c+92gM1Y781ohf0Bi8oKti5/BXPjmiDKwuSDqrUqUNfRDmEMMnW3cF07akmes4t4WT/haRCKQZqjWpW3Du//OWkACzGPxrvDifZyb13qAGKFoUcUOxXXyDqCY7RR7ZYf6kEP0vyQflPt8ha2JkcyG9uBuNZGvwp7rDiy87KJJGDFv4etqaliCWyJxuT7K2Hn/AInr7poxTSBBcW9JQ9tzvZToex9mK8uXZ956NfQ4nbf3dDvT4+ruJZ21JR3fve21dRAKthA0xhd2tfuV1cT8Ak8gxQRaDdNWT+1iL6Y72hf3SwVwn5QxH+MckHtFI/qkXHlHc2knmJxFtnKtNk76avkXrrBs0L7wo0tON7gPTdLeOiJrvPlvEieWkaFMUW3lkmoymQT/lhmMyDgbwGaM1iRrdlG3Q6u4ZVs4jOw5pwBfRuvYFreNA/bn7pU9CzxHNXfAsz562pKRSGzCb8iU7rYkcNAKTIsGZtoy9UDrMXXQgdQHKzTogQGXOPXjj/wk3IxE+IFvAgaNIpCjOtteRe9HlVBLqHVODtrmw7iVFQa+kxNyxuQ9OwOMmHSeJsWy9m9DXx2coz0w0ob2JvXKgNGvS4gwzoASIm0l1kECG4cnFQMKBLAbkpixVWmCC0RbA3c87e9eZvqO5q9ISb+WrQwMn6TFfvEez9xi7Mk0HCd1KgdOzfUfswY+p2eFvZj6Hg5IW15IcyctKO3dioU9IPxoxeBnYvxqSeR/Mg+MThzSOjyBNnlZWK6FfGXTLXFBn5Tzym1yUZgdv674E9kOsXG5kpPXw6kdLUS/NcmrmbtrheesNhycHu3AIaUlQKM8CGBmYTO3r/e4obUvSQLE3OGkF2HAmnpyBFMlZvYQqlP8eTr9S+SJRTw18fGuZyWHR6bd9axOXkii0asgDI7X6V1iYZfZYRcqop3kGv+q/KRYoRquJv4dnEORCjm4mMdF2Tv0sTfDHKlhJWDn1DhHRZL4u9k07qHZIilk9fwd8jpgrOS0EXCpWDUqCGCPWj81LNmqdq8xA4BdJHnLhhIWWvnyFxTQM9SRcG8NSUxYVrsABlT3R8kUvk0RbZqIASaMejKxXDDRFA0Xie0AYTIjMymOKaS14loi6ivChTpj5UcbTSuo90Rgss1L+F+PuMYeUML/1mKvh8FIplejY/E4dhYQ8Fm08LItHg2qfeJUNREZZ3FBMnwZdJ2jCyd6oe7WJS78xroB+ddPnZ5G1wR9ThiXnsFon+zjMGBNRXNq/oh+U6gm0qloSUw9gzjkOM7wGu9IR+aXJNdvqFK5XQiAl1MjDrJAqazGeXNrMbdm1kYeEZESLos7hdSCCMfgV3W1b71n+BN6d6SLi3gTD0kfp9wUnfjLLT0nIwq5e2eYWLtfhTFCbIsofhQDYs1RNEpC7Qxl948pk1wn7SDazTBnV1gKw9Tko6v3GZp0BuMDm2cvTL44VQIFWQJfGH6WKl3Qk45VYmm2CtYf5WDWhgst/dj08VtevyZwbKVFM9ymRsxEpyYuhNNp2m2E2yM2kOMetk2uYH52QoLH0FwlqI3p4OYcPi44NJgGxe5v/MsDdd0eNHsuQDBCdG+hlCAQIubmh3IKQj2TWbyJSdv1yqbtnqbXlGrlT6t4mu+elLDck2P0P89MH8T8gCBmyEE7LAsQLiKRO18OcSGzmAhPStN83GTjuNtlxER6I83+SRPCTYlrFGO0IioADkkKXuRQqrin0CaGGTuJVo3GIs7ENTsO6WEOn2147vy8cPFhdfXK3giV56K1GtSATpmgPEOYiy2/t0ORo5eZbIzMRzLrzXJGt5hCCDOJrB5Q9hPdkBSzVsER9MKmfc842mkh/wcqvQnbml0oaVu4rcMD4KN/i/4Mv2Ts/nlL2IcJQyPzQ4K553rmw6zxi0efzytY7nJn1JJuQo6QnVbi8dZXpa3/X6D3UGGK+YOX4vbT9i/v69FnWG0y/Ir+uDN2s9C2A0XyHqwGycvfUD4Q3oTvEnRasAkaQxTbSU/AFgRmZJlkR2wQZ9kF4OLW3dDPI4rZ8pnNRXLQEVffUEBJQjoHUdnoNMdm5vcOqaFm6jQGtqG5PpK/ZzWAupVNzo61JkbdXkGt+7+thPGaTfnHfF5lJyVvoquooXrYfVoqhRB/V+ENpK0L56YJeEcNGIP8zrnbzJ/5m4Eiftk+p6TK0z0xE2yMp3+xv+E3NQBQPxP3Oz+zIkLqXihlzl0gQfawQEXHJ85M7/bUTeJNbEVdOiantCfipFwSqDZskCz0kuRRyf+pVBJ5LAgfaRwGFr7OD0PS1QxRgEYuTEghkBr/GIC1O5Yy9UruLtdeHC2s/cJAWh0gHQJZU+UeHUizMlI6LDGqQJBtrCsGKtaDTLXxnFpyi8DZomMGBrQczdKZd1raOGfFaos8N61vkJoRRVCLCNl6IweAkBt6P8Xwe6FEmlUziEfMJcZUJ04n5mgIX/LoQRLsm6nswGn74uKM/RQ8GfyVbDEABeBsWlhgWkiHhw9/bSTSiNq12bc6V0SE9v/B9RRnVtcwYmtwW9xt1bMpEV9BM076dZdjDa4f19mSuwAD0qyEZO/vuzPIDhWyQEK0KeaevaRyg1ZpDYRoE7iZA7ickrlnBZmhwXvoesKT0bwSQXfLvxn5Or/eyIchCpHKf2AcYlrc8mPgag9S6j41iIaBkLKiNy5mIBy72XZAfA7n9MjsYrm0Rbq00x6hBZnn+CVXlvl6cNDvp97uu92S0+EvEqpQstZWF8OQ9bzAOzWButx7Gmh6932iJCvXyIuzB2OeFe/EWGEu8txq54a642lpgEhPknJVR51W9ALFJnZ0eBIjdH5Z1uQxj0KTKtI6/gBPMw+XvMZ0YLN1KN62I8ylohP2YW7tPlO/y5IT9MT+qyKoxFtSdz1cr0yQcbzZrEfCK/XsbjQSloKgYrI+oCfUVsu4KEsvtsA1uT6H828DBOIn8GoL+fj6CccjrTq8EDuQsIQWLBnsGQVP1MMzAmpN+QhjdQh/q3v/qcjnwVhxG8zw/8QVJgkxGPSQ8AJtAhAbe09YfNrq9bZtljp7u1j3M5iDVipk9wGRNEUVq4G9ghrqlwcdWwurV/3P2sfuDM9QFg/oFVW+hvTZ0coi6N0ldUm0Fhbn8zMIw+BlHLGpq3XVpwxYMd9wQA4bX9IixHsjnYSk2wUL9eSlKXhWTiqV3l0XCAJ8SlKV9ahFcfm9TdMfzJuEGryg96zWl998wiWQ85mKffqyq9HaGbusq6SW7MZBnTAma8VKVM0ibcYrqpoHpOogfZP9Lq4pYbNvEtNRKug+2eKIDcNKn2CCNpXmvlk3GqYJeP7mBfLMgacG1mSYBzxvmBsJovoFFoVucrtWFglRFNYOS4U3PM1bkTIpyRDkXPp2p4N19smRxH9BdgrAbzHaNmFKrdJm4xnTWOxkQVvC+E48t+g0EnGvQePJynaaAZY5KaytAerbs1dANWgBoOred5XQed+lAsum+WMAex++Q3IIgwCqQLL+uwqQxlAZGujaSvyB6dSevSDzIQnXgD0RVNZdGeO8e3DYU0ljj6K3YE9m+Q/VL1xu2LdpY440QyWo57vzDL2KedvTO/0OOosXCGqXzBtCiCaAZYsFuq+LH2n/zgwAH27WZkveqrXEZFxnd05uB8WrEvMJLBpnGbT/z12RFRgLnlwyWs8iiSl6mhLOsCRJKnPSbHT8IMO8ZcuoRoAsQTlBiis8UPdVwFoIaLYWObt/lBLZynREj7pHoJYV6WS2KZqQJJtE/pla0x/w3RxIC+uaTTVIyb8Zryo9VL0KbGso776qYH5eo2jTZ/mAgGUmSQ2P21bf3hC6SUy8W+iNZpgEEj3utRJUCJYtOqpccnLW8OXGsZm81eNKj037NN5a59obmbS3yEAaKEeDXOn+5VLpzMZv2u/mxXHhCxWeTfcfm9RCFXkUdzZov5ru9Ke1aBGjg6Eng7wj276pZBFI9p/ezhfCbqs16o6EdXzDktha7oSvTmexhnWInKcbcJMK9OkYyjmKwO3Izzud3B4XxwOFyxyRlXGKXbUOKkIbewDaO2XIbRsUiMv8bw0G0/s6ddij/knesKIGnRDtLQZ+zkIPeMno+1RutSj6iuR8t0LKp7HLLDZ5u7Sf+oOTVaITbwn10aMnykISrOZuVfG8tEBE3GhzhHklYsLp4uAJScPlsZ2q6+3g6caNLPp+GHVZjQcYSN3JFeVJaLYGNSQMcrvjbvvX8FzL59p3Vuqupvpt/6WrpZcAXw+63glF6b/MB77f1a1BxLWBoYXExGrFNuMRuaqEOPlhXq2VMdsYN5NOmKI/LEXblK3aHk55/Zh7S4gfVbLEX0grJs2A8hHZeQaMaecBblaJDCbOITVYwqziFCn59Wx43Sh6fkFp2K0/10n+Hr4ICb2O6z5hE83WvahIzEgU6pu8QtscpsAl363Lm3zb09GIhXGwYrJzgQKkYeIOAelzBtU6mKO0uQLH7LCq4Q08+Y5elw0ZuicmE1M5KCx6w0CATpGVEeX8tO/Duo8RAU6NcQv3WZqHMkX0Y2U8vo/bIv5jbbC+d0mxwFyfNVH1gRu9ycxKf815pDqGuYk4Fd2M7vFkC5NW7Orts5QHl2gZoXjaAN9II10DInoP7jpM7Okc4IFv+LxEp5VQd3+MxFYtRzB4z+UYhS37bkyIUu1V8xfZwIlEI1BOwSO6bXxYF9XRZglXSWGTQ3ozQm6dZifeQbcFwt2XDGuWmD9FTonkmCSHypZ8TZ6UH+RG6nECEZ5TASfaQCBnPafg0ZN4o1MvYQ9Joke2H9hZtwMta5/YomDALYgxD8XEx4YJR0G/umcwTU2uuogrqvI+l0w+RONOTeisRvMe1gYTV+4mJCaw7l7cmWuUDP1hZDrgDvc6InohWcUD+Za7sMVURKUU2rPDrL2k5Rlr+oOO2wJ7OvMKwqSlFENblZxGb0bDX1UE0DWTsygFLkrwHNB480zWjrXUT/qc0Nwx3KH9ievWp81WpSOXNRv2S83xh/W0UNwxspyuhFnevDgzWou2zZfFCB8gxp9pva6FEmweQxCpquXWKf5uHmpaS4ikIJB05lDURd4sDM10CCckQTJ3X175KxQ5EqCAPodV+8zZiuTCV/6NfGqyefjfHjymQXk3RGozVy/tDyrikeypXhKKC8oxyPFD5KRpwJmhM3URKUcT6Gv0+Ii+6JckNnRLEj9BT9srxVzEH6r571BGzPCSX/43rXCqevNI3cb/e2JACEoRT1bmWlZRr/hWtsfevsTWELng6uJO4DNMNr+eG2HGYN3X5uDpHGcoqTqyYmkLgwNm4mjI3+1XeoxtwIjOWHgqgP+6tWxBv7Y+DEqqdSjRjUpkOAcpo354ATVfF9EV0CEE+mD9u/AoDmpd038NVoqCnl0JcVbc0tkgHy8M2g1i47E10iCUaZq7Kd31NqqsjiApsnpxI3Pe9pKT5RF0s1WZdoHlZQSpvv4BPvp/uz6nuK6k7M3SSh21BY5I/8gLD+CDQB0XTbPS2ag4IgLNyyzZsCWcUcl/Z2arDet7FEMyHAjkwnVHWrJeKwHSANdB64/lxTbPKn/Ah5foYhX/FHYzj8/UIWJAGqA94Qyk1mUn6gYzStRBJwDJKa4vxSeVtSh+RGOuRlxe+gnz2ZSDe8Ug5NgNrB8syRKGBBwXrRI4Dq/89OTNNHFVEjc7Yge5VQgNbzfrzMMxtTTqUxtylhSrN7Vmx6MY4beUpKsVT0F+Hg80zY/EJcjUkZWEJn38g3wmeqUefoTONCkQObIlPiON8EVRTXryTgOg895297L8ZT2hrsf297DuMppzx5Of3K5NGarRSXkAMGsg9f56XX7Cer1io53cH7FYt8zlJRfPD43qP76i6g0FrTXijR6Q2v4f6hWDhaqlDfcAoag7dxB/O5mbmqQiBVdWPWZQ+yHvtiUsbJefozqBK7Pl50oedqRweKgjaPQRhyfdIjJQfUOpCn/PFOmSVQytNXaqFKAERUggacBnFJtxaLbS1HvV8Dm8SysDcpVr0i1wRIKyQJQ9iTvGa8QGDzxd97refOwP75n6+usn03DazChpsSEG+6QB4QPjjgzG/cPxPweH01P5l6t8Y1sLAHhUM39w8LZnwe3BAifvaWIwHU9DcKRFCyJgsxASM5o1f93qs7T5EEC2EvrGYvOcma/B1xs6EHD13uem82EoTOHx/HkqmKv9BILreprDuhRV5V20Xbb+WQi+l2YUvMdodSG5zmChDcmMkFcof5veQVIeuri15963NLdKC4Coa1CVYJ92ec6EWQ7yVUMnXJil/KJ4ksrIMVehxr/f3iJ0/C2JoMt6ibQjt/UToYbRMsmwD0095VpxyeyBeC3SZnHFzVYmfVhadjuogQD9BvqFScmmVRHbB8C+S+u3Nx3feT1xOX1w5vnURGOY/TJ8AwxDuSKXWeRdu8qG3cEeSX8NSTSMOz4hMHYBqlQow77hS/H0tx04atVgffAJ+NPxpUkncehwJp1q0Kk+WBl1jNwxo/L0G98jEX2NSgdOVXFe5eq43cmLtnfQcx3WbJE2Y67kklqXoOdHe+0hSpVFaHt/39tqQtKd5U7fmoFJ4HDC3YPBMlhavybVup1DPQmivuzotTJ+7VIF9cH+fL7kST4SUwmZvvzld/Z8ktCvaP8Oht3nZKvPh0ev0nLpwTlfDZ8TN4G+27k6SmFOEoIBTN9MBCIMaBmDWuj3SH2kKkDtdeYy/foCNYvR6cZ/HFXu6pVYU2XnzUT/qniLtUNMnaYs5yzuqV3lqd0OfYsed/cbIJ99M++QZ/sf5vxvzMuZAZwr2qOApZygGYfipIuh69aQJQEMBgV1GtZEPWxszsiMDIueiSBQxcNBkPiZFJ/o8UI+nzoncAv32i4B1OOqhaf1xhfXvK88GW8iKzVFeG2+w3Hoap7700tB3q7NGYJYyTecB85nyoG4dnQCI8Me8DgXH1XYL3vru1AvlHypjkXWVIeqd34eLuQPVHkyTB4hnWk7/3jXWn45fYhDenDGsyw8VhaIYCdiSEgIUN+rR4qksn5Y13EfAslLohaKeaGlP8cF+YE966CTfuBaCzrBgCmZsnXGebjMUWpJgwP+UWl49qa4SI7woA9r5XoeaZL/F1570sdiLMPWFBuVHBN5Ktg7vzdpd1OKvkBf67KHBZaTZfq4YmvwIOJxLZ3asrKZyLbIMNfp8NB08GGClfhOr9qzFs3CwKgd1Hf4reDTLYG1oREisomCygWi8O80cCoHB4UGE672Nzlr1ellTwy1OsyXTFGLpf3t97uo0C2h+nCnuj1iBIUxmVvX4Yl5QVQyjGa+vfpnOpO2lwFnhxaQXyIEjh3oPO39d5lbD2d0xteYezW29GoPpkE2bgzdw34sLxMMwTR1/V+oot4v8a5Sv8+OEvv+hqQd59poc0v/znGOq7Nw076ll1d3JOHZtefvUABVfT2bw30zxAS9maDFHsneYqwiJyrhgCp+Ch+H7H5Vpg+P0xCQdTLDs7ejE58qE7WzVWhOu1dYM67qn/tooaikKY0RMoGcHazhbmCeu8AlBTBowBLYXuHL1gkn2o0BywJ6yttSljdCpSIm/YehZ/MYVgSzANw241ahc0tAzXSMAPyaFAR1LKjdnso3tOPpXuIYtRduXaNz8wV8QKczjjPNXXDw1byiOZXsxZKjOegSBI//3tqVJjVlX1uoaac6s73v5NOjuOnPF+gYFMUKQV9pZZzgOauoukAWtrDLiplYHH7+D+sx+euz3iDTwDaLeAsgDwJGLgVL4CDLZ5xCYa7rIU2HAvo+SDs/hEUQ48apnBYzluc2B7K6DLuV4Jga3zt4f0QlN0KhN/CqG4He9v2cgnVl2sspXzE11ziPl8ZjncoYys34bCMzHPvcAsNncHKnTYNJPOioSpvK6HqXUx4ePUK1Ba+gt3Fvh+M0WIGhHYukuHz7pQlh5uE2buA8JG23d9xfD74qKqUKMl9FB+G8J2QOYq/2XGCOwMQlWv5pZkTCM8pYK4M1qfWpaxQN6XC9Uu1DP4LqM3h3gG2hoeYa8eR+P3tb0DSwYJqqzg0Y3ejR/jSstk5ZXXr0WOMcrHO+DIARYLPN9rE7CAwCQmhYBbRpg0phU9nznaO5BWyzviRgdFvVk2MYlkAXpoa3lTh/YYVDRSRtohLZuAmJB2iL8K/fHD0+ixqMm0i5XQtcKlJ+PSdd0dAKUpXe3z8/zXp6kfrPZJGKx+2vtoly0YcoNfCy6dBmxUSpIq/pSKaUBIPV0tlQ5FEIovL1HDGSJsmM54htknt7ifpbjbcQ5wSVOiN+i/Ei9KndoHDx4lXr6CmG6JJ+wSaL36JQAsuxZy8H9WeGUoe8cn9QZyac1vTLrKD0kZdnitTqwWsve41qZ2zpOLEwqM0AIScWC8YygrOwRbBe8aFCFaKmQfdoqbnTt4qZhy1Ns4qPKKWQkT3cDp6l6PZh8JTfWjxfESbqP1ns2P2BiNOPx9GvUToIs4zOUaEQGlCkj4MfbVlDJN11t/N6WyKm31SV8IREwNTmePcAzaQ0IRivcmrqLbGoWj7Sl3hZru7+fappijrWv6hiW4YZU0zdPhNZomZe5+yna/0ePusXvB+/05mxRhBVGKLeesnOaTlLwVyfiGbpeSgsBp0DsV2l8M5qKklPz8G3C4dQ+E1Wm5ZCUQP5FWCnSMBaZyD3EL3sJzxlu/pFUZXHuOrM4k8s1HBxz9yuJGR43by86S70h6zJ2/h5EcMP0r8+3k+ubgSCTp38rjBHj3tp6+NzR5DDUe25NTAbAtshfAxjGD9ELy2WUI0Q/U9xKeqlaWewu/oW6xaGreW3CPbdb77EHJO0krrJxbeG5ANzFkcVTdxo8Ne5M227PaxslAFRxx6UVMBtxomDfVWf5JjY9pFuSwqOVPVvSpmeMpf0aQF6TCIgTjpTVSKeU6MlJSSeNCaa3XyeLdMk36cU3oKwDDoFYWV33eNT30cLkqSBfBdP+ORYYwA+5oryomflo3ccAjuymEu7kRO2NKY8YZyGetya1OJBeUHHy4GhVxCguy73dZwP5dGoeO0zQFBOD04iEGRf6+1tZ6D2VQW4qyt3ubFYMxa27+g5XoZ/pkhT5Mw5dxi5i2lQ6XrtTfFgunUoV+g2j/5wCkRrcusJCWlg1PxL05lLcF5Ow8HD/BYSlh6UDJJOJ943CNRTx20VhwbAYrvBalH8QmvZja9HvkS7qK+SRV+sb5Qu/NSu0wFWc3jSnQS+obAyING8HgvNxnY1cH+RzIxfQkmxs2EZ7G05PNsglUBnYpT2FX/U8o7oDMoIEsuPHzpUF+nFkthgf5L8mZ9AIGOz52DMnjf+iPCqYcTXCLNY36VkXDqB1dvinurqSdBsn9hmbqw3HkHP1Nx0hjNzr1f0Jf3qECEH31lCtil62QHyzY1LNrcMnFlVtE6lksgnXT/ZX301fPETtko0NwV1SxiWhi/IbESRE4HYbCm8zU+n79joihkpFzApNKkb7mic/oxm3S2gNFbmWrXlSQh/J751FlE0X99ImfIIlJ1kR6Okm6vFNh9eFBY/h6ZbYbJ/eiWtbfm7ISoy37BMhnkKQ/pwZcMhwqLb2M5yYkJfsoh+gSJf2SdR8F0jqI5r+FZAiBTnBtvS0QacWd+J8rfsaU+vSDICHm/qVNQJ/AEeG6u1bt7XF3zj2FNaCZwuDv05Ka2dQ2uoQBRwWogfgHEvD2SB5igX/SeBexqnXRttHcnuZX4IGa1kKA3djC3CSqRCb11nJKZ4QDDRC7y8dVyEbSaQNePYIXWMIGfyI6qPR19avuyQJz8dgawhzXZpuMUUMQt9P56dYNQiXP0oSdt27fSY8ippIO0tUDFZkK+qFvM3qh2LjgotzOGZaJwNG8Wa6kYnfE3/sZN+9bSQ1EpG79qUTCn+sbzEslRx+aaZZHbgLy5NQP9tQ2m4qZfvfgNqh2xbG5gMPvUYAKBifyIq68hGyUXStPnP9JZ9QcENRSSyupRk9nQfpJugYmpvm551QUm4WZ8ul4JEkdF5CSx8Df5yN7F0KJItjRqEwNwAzzxkFQ7pEGcuWN0vW781GSlDX+a65+xbrFu596oc9LsD+CabETB5JCMV7KrIAdzkpaNaOzC2a857XTpg+88HVb6i5+qoWSGgNdS9FUQr4QO+2SbGNZDD71TzoGJ56VxzcvPbNQdAH4fQPGnE31A9Alc5i7M+pLuIP3rVBugiLFsL4yJ2BsAVwdq8heD1YyOSfaPvjZBE8NoInsbOkD7YBCYxadBdKCbpZRhFX+wiR8P6XGI6Pv7SYjq1+wSZyJT4C7C73uxyuXEk5nxVYT3B+uLPBah8ZEKXu5QouW6lgtkcaL/NrHvsG7OrZafXLGRxOXXOcD60NAPs7JyG5GESEqIaE8b7n62fSIqXEDVrSQUQQ2jz6dolll33fXohte40kNKHhQwVvgZD0Pe9aRfWes8CgZeKlVOnwA1hwXTqfYQldwBgzPUtKrzFhH302yAPBGUyWVvwsYSXSizDvDW6rn0Itb2tuNfyxYc/eq6LwDmUXZF4RBaEOvaeTbjn5HzlXjMG06r3rCDRDEo08il15ZnKh8MqAUUcQfP/YP9JA547cpZy/6R3lD/M8ozR7LvtXzVcvmklxG5umyf0KRbo9NsEkvcphq9SQLpPZjnhPTkliYAGcri5p42kc7oIklg6aShAt6mCRxnW6nZKXHWatYaPvIgbaCPxFWDoryFeconwPDUdDY1mwJDit1CGxBg/yHknfit+aiB25ifP5QwiJJUzUI/hK4BXJtQ7qRQWaEXvZaaDEWAMaClHKZtfnyJAnii46DxPyjdXGfh4XuPnTU0l4Aavt95NmNfeUyvlysbVoaceE6yR/TYX52q+Cs1jL9Jh3b5xp2Kw8ziUFPVZNUy00FmjV5dZnvE9EY0/E+lhT0jxcqOopK/h9mLaMaF8k1mc6vA4vt0KF1ECUpMcu6rdgk2/RtYuV2onVnZX5LmGkz5g4XyDvvm9Qob0Ta0Ssuj7lDkXARvh973yxQQLBzyUY+0L/tN7snqkz1qtMFQ98iFRsRW4A+r6wbu6cHReQceU6qe4rHTPlnGhH5nPdYjkiADEYzkLQyhB7hq+gBLqX85xJLEXp7VXwFga6cMkA6pJaEGn8mE9eHbdMah8auVzrlQusvvDpzSTzPWPpbMBjcnaw3M679CUpgtEJ7DANbEO4UwFC7FfkoqbS8vSVbXbUiBckNzGbKBvIZTqzUltJwqz4DhUgIzE62c9F59l5OfOffZSjuMfuTgAlpFv2lAbgW2/1rzwkJWd/iYmD+SEn8egOPHNkHbyf44VCm2golNj6nTWYPud6YMimzitjCkQny/qW6SbNuBi+9qozvZBeoDKb7JSD7gShzZilpNXo9X+Jn1dqjVPiavo3IghcSi55ut7aikh6gqAdJNNQwBEuyX1HifRs5kjTs/hzXjK7Zwd6nneAR1m4ZIZP7jwMCSHAZSSt0jlPHa5W/TE/AIQLMiYqJiHzcjmMNThZLjH5ei1q75Ai6OaZVCCu9IAjqQYmqKa1/aqv8og4fKi7ePJemTXdrsoVA+Ekj4VKc4ab2J6w6I2FqYj7Um+zOAAa75msntp7rsNxKd5nRhLgoNDWEroeZ/RAhbZ1bx6jQ4hSkOMu6uWuozFbtZju7q3SVc7SCSXOXzY/DjHILS6ortXjSFlfugIbA3tjXBtrIloG3uCCTe/khbPdImiv0GW7eqtaxcd5q4zugaKiwNbgin0TUbSHnGkA4rwPmOEc2Hlf2SPhv4IBMiVZ9h7mSjrU28w4hUm9Bb2KcnuHRSFtKazMSTcwFkSTFwzEIDnbIbAIiBGuMrT5NbCDHFQdCUR4ZQKAmuxswxpWcSIunly/kMBO/IN7rkRtxI2Wi9UYmdtG0s0/SeWltiOZNRzQ9qYkh1BwHZyUcPGfjpmHra4rSbo3BRvQJN1HDTW7B5b71vzLl3w7h27sSCILtnz+rYQ1Tx5GxKKaPAwouZnOwsCU7nANK/h1GAkRtzRoRUaTK8fqLLZ8XkILhpfVmV2+IExO7LCh3yg7k1xjC3ZMBnv4Ue89P4hrV+65McPpUqFsAUu67+O6Iwdr9ZbumDCNhToXVLzPLD+BoKnwUtJD5oVNR74AzqSB63KBZFGpx3aU03Bi7YXnZqtHd1MPQ3LwL4FjmZBaa9Mub7efry6V1gK+KGMY24oiwbCm3jvUzK2HWApPz90NhwNjEm813QEnTvB+6odXqkvDytcCXJLoYzNpShpoyyvrRzEm5i8ayNyIBjVNvRqoMgvfP/W0xxaJmRt4HwRIvfBSlqmwcsQd1FIz67vIUk91oYuByiW5C1QoJCEa53rsrv4nEGkqopGTb2vpUAvqcEUeTlt5OA2pjXqCqzsNZYqDVsPJbDr/4xLywI8pz9hnx3x/LplEVlQmt73GaZbjz0ZK7tsZ/atOVSY1sPNwNFssSxyrgB4I9I8+RtMTMMlB5CG7iYRwMkFU+mtjs9P6kvh+rGBx+Twsh0tTZUUF1T64hIwjD/AqNZG6d/OPmG1sUx+nIEttWOIJIWm0Y1Yx7JjUfjFJt+MRglMsuHZNdzszg8ZSt/bB6G5rPXG7t/4q7eAOhF278J4zFsfLLaJJAbpjk0ZMhprK6hTxpGRjoxvSZ8sNTImvnL/AsNIO2iDdveXMqTN/tRb3og6TmsoNGXVneI9wOpRa+EKpTPV2HxaJ2WdM0+ZN9Qd04IChCszdFEJ+V7Hd/4PjTVCZpTxAHXlQKoIu5mqab4JFfvPvVWTc7bwkiDTxQqSSk8YC3xfkzCyN1N0jZpUnhWAZcZqHOj8AGwa3rj4HmanOqNiocoBLC1DfMFlSY0QVFGdLzgJBbckkxZuv5LMUfJIFPWIDae0lt2Xd0E36b3/wdHv77ifrNzHUR5nCJQ3i8PLS1cZ54Ul8jkdh+9KFLEzFdFDGdYwAaBzPgcCBxZkITLN02kBT/o4NOM2xR1NeDAMxSNX9U0u2aSpeV5M7H+MXeOhqvZb8PCCUmB8wi+evKCjh93TPdCJT55tc5YS9VfQujleZA5zSr0S3TKpdHJ9THrmPjuvWQVMS689iL45UIBqNgloqgOZQ7c3RSxTunWQi6nvDp8aL0JKgv8A6GjUGJP7hahJxjvttOCvY7J1uIHwkqM0pnEUaO8m7vUZ+X86cml3xGkncg5qIXWsUO1B6bXJBjeERzEdw7W4io5ntoneVmUhu8UunqGrykKGvzGqnjVE/9W3DsF3dG30JlujbH/X4ALa5XfkW/NOlh70QJXoAieotQ/lofj6vAtKDT0UwQs2rJ81rk6j4m1FH7T2ovfhEoKw5OihiM2w1NOLLMTEgnZ9rVDSfw85NvDynB9PLtvxZwQCOm94vywBesU8siJRNPGk71714p0ekQoOqhSKgvyq2b6qBsKl7sdyWerotcALTZb8Or9kaU9CEmK3FbgdIeuNBlwDkT/YcGUAoqo3R4zaQ/xBvZOq6du3Mp0kmezQ6F5BQ+PpF8H3qQYLNhMUscmANCilrai6epdo2f51jC8ozt3FRpxbEJRh8w9mf3QZlHs1uDbgKFmaMvI/KHNGLcbAJofwoKFvLqMn0+2mBmBktpVs7NMnKrMetkGShuND31gp9syLpbFc9EQ47GizMmpgBMIYuFdGfNYvz3l2CFvrcxbw7PkC6X4/xJkGJR6zZsAoI5BJku1LHagcK5mC2UL/xrsHHnyRDm33m0o4RzOMPmGRNtOR4CCTo2g7aJnfTKxDgSHJqL7ijyTLpXfU/eDSUxXG7WDvEKhf6ER0IlvPxM/0JShkBdP9/Z78tAbuQoILTWxlTRBGuB4DD/P5Ik+3iBnzMIv+DWt9s+ZIqyIAog+4j+YzJ3pgUrpWSANZ4HcluX35aUrktRN0wlvL0roRM6JbulabjJlC2AguPP7aRbS8mxMmlQZhF1SlY7t6MTiudEsib9q7eAdTvrqP4hlMZuYXCIHOjiE2uRdg3wkqTGudeqnLF6ljgqXX3W0hJgU6mEbn9qz4OepY0CajnVRZs/P8xWPdNaL75QtgIhQG+ICCYqfqjJD2JvObKzHlAkcjjiVuDulcSQmz0+i7gDUmfLREvLROpUNLKeQk3ej1fn4AplUr1rvQI8Fumfr00NzNtgmsgOSgMNWgeq2ffghDZGslRyiz+wZRb1k4tpEei1monbqQpiW7C48ldLxBmvFUIdTuUmBM6DBYDHegR+TZz4oropi5VjajHRnK/XgH9j3FFH+9ZvH0rbtfqUX+a01TKs5o0OawY9i0QW/wJ+ezebUK6csjeai89qtbe9DjScQ5wb3ic3/PDOb+4/f58G9uRB3l/32b6GIuS9FcIWGAkdLEaCowCaOGZlPVVUS/np/eNJ2qT9iruuUujZ97N4rVaJ0EJgSidbKZLk8l63Auv3Kof1GojslY/PmzsWFTNygbQ6Go0jeT1bEC8na0I4rfw6puFcfKHI1rRJwdKPEGkgkmQk4N8iDhO1bdwrc6STy2E8y1Bx3dkUX+KLetCrPI3FQynCcYGP0KgPHrusxgpuv0pjn9iaE+VWz4n7QsFe28hN3hPGPRStDRjy/zyzIXrY/wTcKHX9q/nESE0A3JXRgrQWKO3wlRGJePYtWDCBKGe/pTwK6Gau4n8NtjMOSHZHupBya2TtP7JIuIUQ4NcaBTRjSHgDYFT/Y+mtMqqrUOfAaG7uhIl5MpTvMhY3IlIbHf7+OHUVn9xr8mR+fD+62xYuhG9s6pyWP0RnT5Uzbcj45jwuLmoER5T/nKACDC+aqFq1lj9IyigaYl51TiUkCJoH6VN2MQsZWVnnDFtwD0td6A+XmBKi8j68pKD1BwlBYtkct8Q8jgtOXlEt5IqGctT0Ja/8ybJ/U2VXWzM3XOKwu+8u7sIf9VqSgIlxlsJpZt7Bld1TOyNOnVa7n9FXUZcYtpJZipaI0SWxTV0sbrY0k+a0UwxDsPBTmkH1N1T2RbIQyPOvQzhs0OLmlqcurDWjJUCSYnSIgG9taDW/W26RvU+G1g+uCz+Z7mrtVMITbOKxUgwF8wyZCkltNlnp05jHOcMQ05N/5RWFInxefgwqmo9X5PuYFgm2pJ4/J8dLYpvi/AOMRVo1NxVVgMfhKZiEJJmQITcWPMHPvW9iZz39AqPnaupQtcsY1GjZxcV0JoUtuvIx6r5GA2l8ubZCh/XyotDpPMzpQMazSBSz5tf1Le9ekNbDUxLBrP92j0TAEw5UoGZAXDiJlHXx2J8T6W6Z3TNimm0wYYpo3k5KBMZn+db01/xMvI9I3cVV9VjVPf2t7jQ6JJUpHTHWZEu5JDagF47OzmitHPXbHIx02Nr6gTfx/8Uf2GZOLmZ5Pi8YARiRVLMM8PonikrXkRPio/3R5ly2r01cUUT7UtmoEtgF9JwjP1fliIOj+D6I5V9k/6jx6Ar5r5+lKyHvJ/0IfK0bZOlh3E/e6wNAiR8CVi51D/xgGy+KeK4xdWX4uzc12uus4XX/UVQTB6+S/Ga/ZVuw7gS4npHnX143Zw5378XQRm353am4UvWEptS06OU0gd1DYASiaDYk1m30Z7He+OXFJr31P5Eyt0iPdwe1hv4nIvXQz6xY7W4vwntOO2Fd1B3m54PXy6MVYUcV7aHvDFmeiNnDh+zHqjvB+sskn0kFS6QkfERIQqCdrYnPQFnv6GjgRN9g3hKgV3yog/zIz/wf4lZ8YQLBYFitHtaMQ2fQCN8p8EuH2yDi+mYZ9IVw5q7c/YGwCxHzuCTT+2kIEK1Gom3V5fLngjP2j6i8nv1zcGfNkMGOba+rd/D9LgoM+CETfW2hGnFEKwZ+6O/pyjPkYNSzJ4BT5WS+M62N14kIrlk8oZ1MjkLOKUdnsY3OMUp4cW/Tkg9CA6AYNmFZZk/olWKOw8TCl544vEyYNA3pxtQqN8YLc/v4OCku+e5G5krFtQmH2PZAi7cgNHMeHF+kxnyLCULMdu5spj5xrl7sPhpIs84KgUsbgZNOGIWtXwLQSqi76gCA+0DtzRy0AjJDDEx1LatO78KeHKodeNYMRqNGriN/KJ22xpQ2Ch9dPgnIJouR0HxkVEkiwQQkMy498IoOK4L39wJidU6HeZxUF/q7N24YohVMKGSFvsj0+aDH+rR27TsvJr6p+ros2Bfacvcwzmoj98lv5wxQY2D96Ui5ZaWfptv6lMF/odjX57ByEyRdAmOm0qrhvnXKr2qOZW4gjyBvKycv89nOAItfRPjAUuE87esbj5FY/KxoRCVdsRy6bJUDVcmRLguLwjfwBsVshtCtOsGRzfx98kiQlXPIalMeVUlupMHCOrYwx3nVL0pEKGNWI0032VK7HkYgCGFT78mu67EICtWGh7Oj9U3DnHf8CI0wvUW2ZV/alT9UisizPJ5lZTxctNI2AgHdIIcaDAPrwg83yPMxCqnWlyI9e9Jvk4cJkXsRS4i9Qqn15OeckImm6yshxKocQpp6N7B82ekMs8y5WYxXABNtK0j5mQMxgGuS5igrLyOB+Y+Wf89FPGHodbDPUBcmTmPFrIcLEFncafoCmZuYDgmj5uRj95N9sxobWVRdCIQmGPCPEhROaN+scVfrWkmuw9A/jawcEVwSsmxMw3bBUzHj08XTtcYrz7tw4AdQay15nBTnnyrMZUUIZDF8l0z4ti9ZKovtfPnOoMu3FXKGfM3XD/2rRWj4mwyv4LxIEJwcM7In8RJ63tuXjH6uKZw8SacsOQIBDtQCQOnXuC4wkS/6MY+PSO7swnMPxYmim7jGprqdpIcSDNhS8WipC6zu+DtBo0GthI2DQ+2+w9jJjwgXCRgBshBEft9sZu5DXPRQqKdYLRIf2IWFHqlXvuTnUiEN3hVdiPIc7xX7Zx+YWv8b7K/9FjbIcD2iLDjZFanwxQI3bUnc67GFebNRRtpQHtvtHXHditKVo7FkVK9fUcp0FJhLc2EO4239/gvaXTSxaQ73QyHysO9aICnJFfE5hu1Yy+AnZWLiFlBX80eufAStKhOzDcDAc/kRO3W89fhnxflPzxksmLNz630cL52ssGvZJ8AYfurESBvJKi1bW3MtmTNRr/tRprKgRdDSvPKPIWoE0PjksVLOihYyZG5VFvuHCx3IrO4/63MgIchHQpOU17quVUuKcqmxryXaBQ4E1/IQefkFjm0iv2prvITjpgVFKSkO5/TNjlfo25Pg8wOAojtifoO2pOii1DWvvnTyPByutndRy6bK1qEBBWu43AELq4tNJhxksy6GvOncdL3uikX1owi6lQlF1fKc4lZbT8iWpsxh4bXi6CgsqI8xAVkcnfkk2TDAVCKvSfx73nvAaNdOwEqCwLsaHZ136UXv7bYWe48kQr11Dg7UIosYB4cHoWc1DDjyjXOnrLQfOi3XEJfiP9zq1CCgvj3b0JKqdh2lfe/2XUXlcL4BJCQKM4cZHOWP2+kcjqUSiSXB0ONgEMwB5SlwFRPaGIOR6GvArBJcX6X91S81ArhkAhmdZMSPx6rauUkTJ3Tpozl40JLXO5GkNcQ5a6PYPbbpnE5xmqATp2y9aCxJBvuqbgxG6QOQdzm4DHgw8rXiTCU0uAYHynhgvHHfC/ygoLtmIV250JjW/AC3LRbjA+SyYEOQ+YIqsJbkfajjlys6Xul1KarIpredgU8VhF3KJSa1Mb72zNyHP3LxQ7j3wubN2ANusRJTe/RB176vBR9Nfgen7AVNnNCKkUp+xMYnT7fR3ZYCxnU2spu1fe6YsIGPnZxG48YQEUnbXQSCNg7N6kMYllk//MBEMaXd7K3H7W8mPJGushosg3qz2r6sgYOybhmEjMANtTUKdS3wlZKF+AdKrHCXdpYRAPWlvjkzUQm46K7lB5KTzP3VtxEG918km+MmRqj5ItLMCFJOMFBZzB1i9ogTcCnBryNuOnrLEJg481XHtJQwWhj0fu6OjMpZeZdReToBL6hDe0txV9g98wUjaBczah4wXTmkCv7ePW85EsYcM3AymMHmlMQ1FJ0XewlufZ33BfsA2DAwVe+F8iCrSn4w+EAN0wxX4LsbCdlmtoJK5LDDs2nil6+uS8lbkxCmgrNDt5S6OPkKQOjN/qkO8wl30Sa3qgTRJOSNTSPoxh1VtHcZxti0EVJc4ADyLJQgqMqjo1hzj2MDYMbYIu47PGAKm0NqSfSa9DNL3N3CXeslQlZvoQOW89NMBlfzYe88CXPFv+0984V+M1rAhQ4jUJETjh/Kb7OjcLnwNGbxtWZUjaPj8y1IoJ7Zh515pfwurs/UV55MltN4zpr6HxvXGuOnpW2UCBqg2CbasHVh8FmwhjcCM4FWFY8r/OTPhmcBUmXj7YdsdG5ztKIO+1mTFjUsaDHiR0GhWKWe64Df1eY3SuI/JuBzlQ/VrAVf9j0o7Bk7Q74uDod1KEhXBk+Hsg4LaqS4wF/TTHf8ucHXpdBd3e8RUtDbTbGj+Oe4KPPishKnrTrPyDv1tUW3beCr/ENWi3VAXfQloxwjXCI00yVOG/YoGZuMRF4SiOLZBPXI0tuUAfpGV4UeUJUiIcFUeNp4xciFa6TD+frxD8qocJ4N2IL36OpL59O3TSyuth83SY8ZL5k0AwtlYqg+jcEGQCHwR9lq8tpYfOvNQZZ9VprKXxiCT4tbgcGOldYVkm0b++ekXn2cFOe8s5Fyp/BhB2N4lbHZ2RDWeJgCO4T6gJ3enNl9u+ejqxl4eHMhy85ySxW+N0kPsC7C1LjihPkW18nDgMJV4FEYW/a64OtRgd7qoQO9hHOlDPmwK4nT+rrEN+XmGSDL5S4PJ3/yCB1lXc0Vlq7Zuf3URCi2F6P8BcFkQ3/pz/iPxF4y5LqD980xXm0cjPuMKaZ2ok0xorJhJZF4iQQmvnrFQ7wMOZhKb3NsHjCUFmU12Cz2Mv0tP1CR2Ggt8U2NGYzzy1b/rDbfouh2pbewBZRWZdT02pxSsD4DwDOegux0SPLJLqSJcSZxtoPC3nc2LgG0kwWKK54ee/E8RAL4Jjaj2fchyJfjI2rliMm6AiSylY1CMVtEETVEqHKTZ3PT0UUyaNVjnjF4x4YPAtiWp+JMOPRC2b3BX7c85eCpSIW9d30aoemJZZhf9H4d9VOLulCevdg64uXGtj73Gccy5pDqUEJ+VgkGezMNMhhqLmtAULifP9xRfOrLdmxFnIMJ7NKS6jdzQvGYVxlilp24k26TNNN4mEExRNv4mrNKyG5JRr2f9Izcutrd9FAMniIDsC0Vu8W0jlgNRxfE94yDLdO0WbB6wvE5ZnwujLH7Wn0JcJc6PsBDVUff+xRYr82GLlrVsc+EhW0MO6dTvmh2vYuH8gVyElMj2j1lZgWVEe8J5vTe5Xe6sAJlom/BD+UC0Gvu9RxyEA5kBoY4GBDBSQdcvViFTNBSpPQz4As21goAbXZlgah4lkeJJn35JfbnAj0OoVhsmD/je94Br5AQdid61JZzEZFYYnbROsekK5E6+yLbAwZVGqE7+0yJJ36YXJdIhJH1fpEv4p/AbTEzGkq+ofqoXpa18hnh5G/SLjpQ2aNGlST9Ng1F0JE+YSwtBnxW0hNJHdzb0mqaHWYF0VdhTt6yrjeFRoEIrhycJe1ZA/pYYx4/lUGImK6qHhiBUF8Yx8H3pvq+pNo7yCMswqGSmeOaqb2Xuuffv8Untip4KZsXgEmPQw5gQxiJ/9LxmHh3G0ZXIBqbEIex58nu34Wm6gNtchS/msGQmpJO+PYUPqC61y7YZfgEop/C1BopSg0dC+JERmgofWhj1+wrCx+7vX6AQjoJ2PX7V940UCcxsdQ0XmVdt1lv2CSA49OJGZb3fGxKICtdvNLQwZerZfhMT9Wsl66SBusI64JnBmizPr3zWDX5vO3x40z0AlimWpCFP16JcgOFdoZfTa6FnNmoNxyGY36bWRRxD7i8ymR74RBA6x+aFvXZI11w/CZ4JUgleM8h0b4zLNto8z28fnNqVaKq+SkPc6qJvDsSaEIglCO7SgPz0zYjAkdOvm7aTaL/02BgqbnxNbS86buG/VY3jkzRryMkLZQkjXTrqw6UNjOxZK/9hztaTosa+nWkwCV7nWQW5rWXkrEGVr6+xnCkxqNI5BkYKf9Si2cgqLdY3VN/9mrWfqE1Alnl7fr+5JlE5E5Qgg3RQNf4P6UUJuftmnJWuOROmih1HHpPuQ5V1n7Nnwsr3eq/oX3bhkovxLmkmqUw+3k87pK5IijFveuxNnB821AWdbGgEduMrBMsns7625ogNcPk6ALtJuAPnM0SIMgrgDbtI240vVH1ORf0i7RhtamYRkt5ZMi7Wlh1ofhX+WObflmq8TbOc5tICbuXH7HjAtbCsc/7qp7bf0uDTDPyobMdT/dZ/sKPBU68nZyt4Fv2jml4cepZNNr2np5hhZEN+yyoZHMhL/rOYI3i3WSGwQ4VlvF19m/yo3sqt9Oy7GNtA+XxL9g8SG17MHlfQ57kWoxZLunc4LjZ5oVF6Cyu0esqks5N1uG4STSMprFe/plS27q151G1RclCm6wstwtSfLLd7XAOH2UWcyyoTbFhQTTkYeidHib+zADrGr3NODM9U7knfPffccr06QQNh09QFosS3RkOyjR4TJjiAlU+X0B226no0WjKTbtlpRPXJ/K1OjM3uE1t3TenuuojpD1/ThydBg7s0n4+y9Iexiw/yWbovMYdY3WCcAV/CW1ozr6OisLSwjsSjM7e/02RfI/tItA3VfwQ5KC3szQnYjmOAg8Nz3a4+RuqZSpxS4HhZmw1QdBg++0Wa5o4BbpU0UPZRnNOuSn3vcnFhw+4PPUc1Jcjk5wH7LcG63i5qChdqOAsIjs81scDibg0z2GxiETAcWIo4OeeY9gXIoLnPJPGpTaadeerfyCx3cbLygQj3P/TgRMT14Gt/tsovHXETKnyhaAwBvD88IiINFeZ429sHlbhCwqM6SK+HyF9NkBydARqZ4IniPKbTgu6+yYxkaSZ8eocMylMCYa1wh+hrZfErlSvpGPoz5zAUMkpFB4COpmVGlD/lFV1zPtqcJLUEsCx98BTytmQsxlM32j69uUN7C2Yo7YRjsQMBcC2ovxKtHxah+8WIt417jskKjPJGjZdMMlrryyFeHoELyWJZmemPTu5GNQ1zEYmrMuASlXaOczR3LUGz6aGdmpSqWsvx2XHBpo7Oc7bKpXZ9velwNEtJp4zQ160Y31/waYUBkPIkJcWPDzWqTDb/CVxcqdLSEY/0PefYFDaS63rDT0uHWMt6n7vsxgWWiB0NEc2Dk5za3j/RMxakqUJ1RB743xaIc6uS3FKmZIUgxQpWEe6JwuRfYaenqnQMu3JNKttMxRZ/HDRsxdJFi1MNTSoHLZUPOVaYCdR2Mh4j3eSD5nLLOgyrP6U2zf35x7jj15NO4aWfnp991n7s6RjrNRg6q7XpLqj7t7j0RkzLoKXoP2NwudXvHur2dkYtGMa2ZwBlVRPvE9cp2yoY+NRrQV5y4WBmvlJsMpwZ1MFfl22EEuQ3kx6MfrJuaJaALYwRO0sQYuvlNDoyCwK+KzOaoOMl4BZ6r35VgHqMHS3klZHiVhcOQ21/VzuvLEEtkr+j571j9ER2RNtmZ40+qtWHt4c+MMU4Mp9tQlqLpQSgeKSWlzaWq9wFH9ZPNvai5FwTlEfRPd/fo1CwYGaj29HdGu5k4z+sXcNiIKgx/PCP3+hb7U4sybF8tM83HxYkNsvwfLK1qmczjWCklvsGoPJ/guse3Qy8r8VuK69QWLHYP6TXZZNP/dhDy8OL3xlgejfN+ClX0vAfwLdlytdy+yP68Bmuc6n9WiVHWQovPtLNeA2RMRBrHMjPwXHPIMwnPyzOtZeOQql5E75Y0c8H/WUnp+qv4MLV8gM5FBBuirFQV+h3fzhXWUm/n2yGV4WQknpASruGuI+PJV+/frcYAmqVHEJAAjaA1Rmx5LcMw1bd8iaAweLvx6sSRusSZJBBYkbY+eNopvANMPsNCnutsWb8eRxQ456D2073InAqKIcjYtjvi8WJ1NRFLB0BY/rYC1C3rng5ZPYEMKVONOFnCWfp34zieotc52UXCrKJCZldRl/7gkLRKk8FOs+6vZWzquvQhv9sjWUmPXRIpNtOACjP0Ah/oK9qa+RxgrVzC0nzdTKp8JOVmIz4SdBF0scxDFQrNW4Kq/cLXziOQms1I1vNyVMIaVqHmR8BM+59Y1SjZ5JNmAkf9iGyOfigwF4G6WPz1gzCqoXKDVUR5J+6d6EW57Pe+pBN7cPys8VIpdcYecrdR95sLAR+v8EXUdsJWO8Cmn6Uh6L6OMV/yfJm1jjCRn871Qv9CopyQFMyWprKZI6+EykSrtNWDLEYHLXM4lfXhbm22jUUeRklhbgOLG+7PymewTIZMOBUazuprOWkgAffGcqDV19sqGw3gL2yuUavXx2JcK1ZhxfVdvrR4VxYVhugWB5tGcB45eA9IdHnjmxXXoKxKfwu3LB/5EOnhYGnlkZxf6FATJxdwnEyHW0gwo8aNS8CcptnTdJYWI6qac1BtoyouM4RI+kBuB9Vk9IGoTTqtOcsgqetggqBiyI1Slph/cOy9Pt5WK6JpNGJs5k+QZBRPYYijLWbWwSvvLt/h7lfn34KkKxT0RPekREQjFV5Fjz+8JctY5J/jDaBder8WAVKKp4lp/TJPx+1Xy9+v1HLeQmMgIMi96XaNMdbf/qlxTdPwbP87YW91lhQUSBuXBbgIiiZAWCeHQ1bQoY40hNgivKVPrl8V4oUoj9qqMUdZmc4HoXiy9XVEyARLcJzfhuZX4Q3vBAv4hgIvevRhGBdDPpChz4JlH4Zx2jnh0wjcvd8ufav5yjr+/W0WbhUUiykqS5nmWvS4BB5V2gwhVh1Ib6aifM0Xgw1tahvJBYr00vYYtXnTbJu/KBrSmuHAOJKNEpHtEnfvhJgsoWXa+ga5LQBwonMLIOf5kl7noRtPRWS7jnekxKrv/Ol5puPzJIOYQKTtxxB1Wh5M7unFGkBHvyQv+v6MlSgTdnPNE8XedNDH+DEXsv0dm60HBugxdJ0lrZywPAEpY9OdKC14I2sEq9pzISR/wLBkfH+n6ULrZVRRDuZ8zDASUpquNkAr3iL62P8Yl15e7kt3jUi3GPpPAZt+bAYjnIAsT4a2jM0BRLMllfZYwqEh71VOUh507dB+M5auL8D2XFNb7CDfNqBKSWKKN8R6Byb2vnF/qCluP9TFSnuaBEl80HeE60s4z4twWjx1wHaF2IiNM5A5LixlILO1j7CuVbB5LBWE0BoFB0W9p6C7MQDNBvq8WxN55qOO/j0+ftld0PMqjiYlS2Lq61PbMZuTWYiuq6FEWsr/BM+iFu/VMsj83RVgEoDBxmu4/x+xJGi+Ke5U3f1azvF9MA2U9qsE0kHmvVvmFXk+mEzhqDze3U6dvbGHCMUfAgbiB6tlF6g4610Usvl7yA+pjsOH+E50x6yQtRnHWtRAEhGMPDBDE/WpQo328W8vS+Cxwgkzd9/KnbIAZpU+2h7uVUhEdEwjL9OS6zjRSZA1fFpgxXja8bRoBEDa4jOuayfA8Numgl7OI4iXsEWnCuRs7RTkoBY8uhy3o/LpKyQXB2s+OftXZRhbkdlQkuagLaL3QOOXHD3/1wegupKtlRfhHlrWvn37foYg/MsV6vYpvD0UR6IdXMBUVW8Ip8Iu8MxYEXpn+FejBpsRk4IkrEpqE1ep/A3ssRreid4Knvu0r9XkDJlve//Ju9S2dX5Dwjhcso5I+7Sz9vgek9pXLkvcs+ySdKNHorHkffTrWH8Abxbj4FrSf5sArJn1w8INyKXuXu8j78SEMnOYKsAjJjrq8fKqtQQfC2d5IN9eBV9LqvSfXDkfljXhCcM0Ko3CzLKMfjG0RgFNoONC+dlJQ8+C9t6lEVDwQvikMiC3CqwLp43vMm6ibFGKTMzGGDFNteEAXz6IhF02f5mNFhcWlUUsMB9KOotYa6M7krMMXJAb0irc37wHaQVb8aS2dKS8mDmCO5RPrOrakEIHIjpCHMKRFlT0wzOGWeNyzkp8rGfpi77ThFlMKNCNdYCPyrXmyFEVSrNLUnwnMOiZoPE3M6PpIgDsMjlGnACPRuREP8o07l/8BMrv2/bNsyUfO7cWeRuZ8izhsBG+jmU5S64rPsLWgMsvyGSkmmWEsx41GzT4DiiG8IYlmeKYkwIfEzf1C38W7zkDaFRfm7VsDfrQ85caKy4tbYmyyZRz65v8f3D8cr5RIbRZrQ560iKs5RCJmvSO0BxtJs0Rfyp4XBNfbItuPltnqhuxhAezy3xIbytCVBcxn0VedukPEDa6phLjblHnKNZD3d0ZQHvIZ3UKc+hq5Gg8L5j7CuMOEPW68Tnoj9/13FLpRYWw8OYbt+psTbuQPemSgnQG4S87amqjDv1BICdIDX2BrQtihcp42PNheDHR3Or3WN4TB6vxDxwADkfE2GXgPH+BJ2HVOodS+vCpQWtnqLymlqGoPTe0uoGfrNqyTOryel8VMoCVj6OsYra6AAzgmwX9ka5ei2ofGzcfJs2Dj59vdL3b3G7v6W3mos3XLISW8lF9uVasiKMhLbsWEmbscLbKinY6/Ptp9Yz3ySHbySKBbJt8mjZO8BrtAc1jeb8rBJ3KePBeJbj61zR4Vkax/40NrDRmKTwqMNSYXYk2gZrpFZtNW+gI+dBVmUNme9Kdn+7LQSNieF8mkaoHRUuxR0edERgjIAbAj1txdO8uj9UqdpmEGkbrArsvrHmihDMF5zcG1N3AbS2vAgfRihN8x8XHQEDl4LMuUcsHwdkUtsbICCGAkyzmWhqUw9u5s9bDB2eHdIUyNzbw8EHubzG/VZPVKZFsJzUzwcMgImCqscIKLb0WmNYMCsTXERq/1k4nX0aUq/k0GkGPGhlngtKJWDM87MmX2/WVq776xXfGpfWc3jHIdeG23U4HCzdVBYysueIU66ftVdTIA7wEAyWPlPY6ML1BlJSWmmeETWIg7luqHTS8mO9dUHNWInyntFM9omPAcGxj9zl5G94zvfB12Cxsk0JS+roCRrrDB8HNfnDYIfVMwzCdUb2M7q+MzSa2nFxq0LM5cWiyhpVprVMSTF7PXqJchaBj380jCUeb+yLtaVfuNMBwuHfaZhc7KpLWPA+5oTZmkYovriIMhQpmk9jErjl4BiIZw5qgzZUu3jr1iVPCsHCq2RlcgNsh0ap1B4cEY559lTRSxfwrKuKKY5SPznwydewGjEqP4y17ZzuNY9e21PQteOffP0Sj20JzLEGJYHXdBeGSUO/OYXrepYJK9UWVbt5nBQ8K779q7XzwwT+Rnn8eg/KMwFP3cLce97DgNq8LrWXpTbf6r6n0e7Cw+snIN6I51QhGHcanp1dQ4hsc67cP7fnK3I4JMzlLYe1rTw3Ew7zTGDuMzXMMg/qZ1lIaSpF6ITzc/cF8+B7AhOphoXbxQHabfDdKO8QbqM4lOPgQNmsRhAIT4rxXLoZaM+Uwi7vlGRqgqkEtlvLLlGPzSHaZtH5TFIWqHtkhnyrldFgbgn61jfrdtOkjTqJW9ERL7pYWKScQI4MIn7TpHQ0Can0wnvkhc9sq1B4OC4mkHpS5NCuyDdPsACI4h+S5uH1i8x+QssnibTcqVsBscbaaDnzxPwCXq6bTzA4GQIOuEzIGrE/lBzjkpMrnp1rRTqRF5bPWvbMChYv4MJHx8SxxnsFqR2F5zCBEDFNd518mZspxlJVYcWr56xLaUEygtOfwAbAXGpTCF4TGiM8cIP5FJgsTbAiHLG1Hf6sBSlcgXkmE+EnoQrdAe94sWwqMBRETQQ7kMP/TepTzkkdnjI+5i+ZsihQpF+dUpKe3++vLW/6q67qwQYb6oh+LqgxvjPDPd1rKZyf6BfOkOvKV4Zzxqy2OMYwEhUeq22LdMV1xva5Rr4mVwSiw14zq/xTe12efq9L8m3woMSKdniD9VnD3Uz3ECUBWTFsxy0aktpc4MvgHSFFMrc62Uo+0uuBcA4gSIAVjEvqRxgwFqgiJfzLxGUm7VbhQYgtT3+ntTWRQgrirUmAkk+IP2mhc6pnhYmEcuSA7pY1CSCGsNIQGv2CYnQJJT3VyQE1xh56g2CmKAB1dqNs9bRCttHCHwkJcroYlnl4avTBn+YeX3whPSM7YBcChJqRiBg7GgHDSMb9JNgj6k/e3EVAD68VJgblg3ngm8a1FKiY/fULaALvXYIS9gd9yBTkjO8JZkmH5PiUTYmsXJmXAPW4X1dQ3D6pYWsyge+xsHObj2GeA0I/wtxvu+ag6O3zpi9XjsFxNiKkX6a/QAhVPaDC3wY6biWrfMnz3IYasnJFsTqnRpKwBoYEeTodnlD7GWoc87Us9sEOYKnDkc+Qw81mvjAP+dLeJhNzM/l69jEDn42J0vHLe5Upd58r0uPR6od6okUpWiLknrVAv45/DaI0yEAY0tENwi9jjUXZSs1I217XnsUMw35TmQxEI86EASgpvTCozn0RJmryPCk4eMdM2Ri/DAVLdhnHq6fLIm9VO2hZWKCEXosDlRhBBWuGg5fiWUSodRtcWAehtTmDGwB8zDchDCEyasOURnrKq4nnhwUzw1uBAcyy89oBquaLpn8BZtubhvAzUTixbkoZRkA+px1jXTiAKCdqeRap2QD5rmhBaVyjS/aZkE2IshDgsOHnV/H0Vuv+j20KDRBJ9TtFFWogej0Qn1gbOUvIb2xGdiiPV1McbhV8DLcbcqgtyTmCBVMBVXn2Cq2d0jTeAo71Q88BLcxDHaQfDrGTK8Ol1fkz3oPj3s+hnugUEC/vGobw8FQtkE2FZ73+U0AppthDhMMQ2/fTB9sIXCDjx2gV2N/hlXogi/UeZ3HbamL7iNYS12tGVNqCIf8vGA406qgeAqyrqsvDHEB6ub7uCjSEu+y5VW8z8oAq53SVVaImiUlSuz/z2W9alfdKgg7m2/aPnwgAwcdmxmW/UWrTWalS7A/ciRtYCDIXyXIA07lHYtxOLrQriUXATqO4Oljv6VyzRClsg9NdWSkJDyKd9b2ZB5KPKV+4O+571B6FQ9qfX7xtUYcHIzfF11TmJh/BVII464RSMYXXc9wc4XbiC2PzcHY5gM1qKRINdREILV/RUjvtom8sziOa5F2BbjbT23FD2Il6L9QJVfvirU/UA/uvroUMM5KnMl72MnLb3zjUuLvO0XxzUJxtng/5zBzZz0Jh4884XYf3qEbWrA0X764R7RlWVOGkfpqfBr9fbVNpTsk7pvtt3L/yT6CMhHpWb090UEzVvtBNsfjjaJF2tjUGcRJGie+nEy83hji6/B6H/yiPStyY5YWHBn0YXlWWtFoCbmqrJ9D4Wl/hwbfkAq44/rav/z0tQef3l/RsNbTJsWfTwGWmjtdMQsIv8Y+lnAoy6bDRrixDseymA2zlwY8DJiK2jYkADYMOuxtqis7O1g/H+CP71q28fR0MMuEtAwThvs4gSIVd7JVxztySUR4ZURPWicuFjIhPDKVB2gs0ZneQqvEN9mvbjDwaqv1vR+V1PrPC+fSOP6zmgzwLj/MnWDvQ7JPpUqMG8ibjY8TiboDm/2bBiauCye3369O5dNCVyoPoyo1kXa7dnDVSSBCWlYJW79jp4Na4HjZ0x3ENiakcokaIkmFMADWY9j/ip+bv2jDrdbTN/IEFW7MLF94dNVkdiFECUd+ZfSjVz+50qCzqNb6+JKpq7jYMDzXfv8tr7WfgbHM0qcVrOqmjUaL2+rpUmC+peHElUrMEqAWz2qdgib+g0qeafUtUieDiiMXiuP9r0ZzzrqvY9ath7Q3f0uyAUfVEDQQLIeCtdWXUZ0WMZB/5CkO2wWeBfV+rbB7rWxPhuFd2CppvrKJzm44x1wzG684UllHtDrmmWuWSsaYRYwm3tpSdbinWZeE4KBD6vqShIgIBx3s8m5gxz9nXhQQL3Qez8+J+fIrjo1LbrEa2/Hg6/pgiyk6NuJS4RLBoqBSZGaNB0EUWhYarArNP3Ue9/CUmv4EtRCYUuCA2GAM/vO0DF45Plq0OHb4pmt3RSeTCUeh0wlfBW5y9U5Ho9fMEAe1fE3I/8tqseHzbcNdJyXR2eT2IA94MbUNzkfAIRjFj4cFcjuPxMvxCNgNnEruWdSP/cjEiH6KTgWItQpc8Oonmywh0zAEBHvnOcLYc6I8Faauuyx0HwaFTYLdIPL8mOPc9WdmikOXsK+nnvVUFYmmxMD8ho42WXKFeNjzxcWnXJdlaIyZhiXmxYIcA6I/V9Ni1r6f+J/EmUlA9mQza6kiyyB5B8ZDaYJlVCn4JVC8Z2WFuxNmgVPWHEnTyhjnpHTXaZoc3C7Rj9D4b8aVb6QEq8IB/z6HYIVW4dPW3nSgqjnR28FYjLOs+iEmEsJgkl2eNCPaq7ko3gMCExL1z+jT6TSqaemGEzTA+akXOjCaXwW2409rriIskyBqA17wzCjaDUeJCmtv+IRJtoHLbslxkxbsQj54IMyVrN8zNoMdpxx/rv9zE+dyCKNF9rhinis5alpMw03yijWpdlkHBAw3RZwoIjQcIbBLtTsMmrkUi/vFWRF+cDV8sNCz+OVKNvoIsRCs7SDFoMH35RQeSnP15+XzwxRNgPTCXuZurAcrsWb+hiVq0wvFplvFb6vQpDswyO5y4hkVVFPSJAs0bzcfJ0BTKZ141jV7uCvB3K/XQhS4UdJW/LXKbth+YqW3vUIDygSSu/qHwZPf+utCSH9wa2NI2LfvtkdQ/5NjPBEy2yGm+vWvTC1JqUDmibD5HxN7YfiwSKqtMe2Z7bqOZc/XP+9Ej2pAi1+VjhfUAoCJX+8rtquZUfTPn1veadHlw3qWgUNVXKyZ8KYE+8r5N9Y9zKRSpOTkEfVbeLoEKYTHi470HgjHohcO8NPM7fVGOLdg/WYHryZS4zJELUmi27lJcQZHds9EjfcK/K3SUme6WphLQ6DRgRIFSu24YMXKRgi2kGs4bPEIY1dCMN4oCHXIT00FhawcheawUPBRDTZR4heTx3E2Pd6VCar9b+lOhgcjESxSGvqVmkqmz/SQuSEg8u4jlC+oAFK7sPzUaO5XiFPtktFKP6CgBFyWHQwpNQA0Z9T8hCuUl1qJfJK05YoCplFHW4DJbVdvDvr4t1OkKILr4R9sHeK14Mnk26PGK/u0zeKMVn/j/IphhmpqW5CGkkez6uVk7XwbD2BtFJ2JRbW+fMg0T8CblqMA2CaHF/Bz9CQhWxBTv9KOV7tOcoy8TDvmxfSpar9U2UOQlRYC3EeIE8EpXs445ng7TwCoeovGSzoULxRQihVQoKKXQ9jV2S6ZOGAb8wK9shEoo/wn4x+z7z4qsEjZdOVGlAqjza3eH5f5KzDMASI8CK8JzAlDdIy3kGD4wuj4uP0xp+m7X4Dqy0lpbfcHrnUzV+OB4f+Xi2OVOtKKiz0qiLcMyRn7BpRX3dJbXR7QoZobxsbeRlKOSH8VBsGAG9c4IOHqCNLprsWMjbYXjqzfg1SB3WoKQWHffuYmP8mIBq3PjOb3g2qWTJCydNZs5KcBX/SWdgkxgga21F9ndOKMKtdnrw9OpWtgoQFH/e0VKoy9SkMpqcgaJfvzmbbkiTA1KwR9EH7S1tk6cQgdkyVrqvIC4ymctNqEqfqxiG8XxVLqRnRk2JoHH83Ds4vSyaHnAnRB+mtUq33WLFGE/KYYfPlM7v4VKQe4PuRlVN98Pk/c/zqMAreX4DQbkkD7f9HDe/M6n/YBb8T5ic8Crubs2Y9c03+SX3jNmKbTOEnL1iOzRUxW76UdlWdIGpZcV8ow7pW1//W9CjmxoWOyqilRi6H+8l5/ywR4G9Bnzsl/3X0LseYuveubMEAAhJENlEH0wHaPbhNg8msKrWeJ1q9OcY1p9xVnAgJqZ6B6Tef7SgbUGiLtG6l2tgbbO0EmOTon/G9DuBGP1qwggzl352/J0xw23h/gfjRYgvct3B6l9IqwD1QeWhUIxtnVz7qVLiSrV67LklepBBGMaE4yswzuVKs6wqws5N3aTr0n1+uP8P+i8jG8LqlPBvdxqwM8+RpmYfMGsG26X1LAvxokk5FR8ZeYI3Sm3Grzm/TS4jxBqMVQhq6qMEyctpKsOg7FLcqIEOijgcB56T+YY/oqLmD5lhiAPXiZQQsR25hHSbOp4zLWjZmdbdCkPDM8bcbIpVenrrPNof+uP0vegPHD8f7t9GAESRq4/6YN8sg2SgUMUmqEijW7pEcO2Mh44Dh0naXo5SWY6F8xpU7UEaSSYb9CRC4jTXbyTRURVuXju7IW2pEJpc2WdoXBHbxJ2eunbX7VP7UpNEp7xeEbAKaiqcabPDQ47sgwFqhyM1VpumEeTsb5C1qR+8M44M0q1fiOABB8eSdvvQh4Shh+AKX+yi2NKKCDK47/Ww0iBB3A6oYvqYcPcVwwNyo0857wAb3lgYkOGaW+M8yr5mm0yr01NLHdZeXyXfpai4Tcdbdm1ImLW9Ml7mK245YRR/BGlJn9b1iOx+Vz55f4txRustaYqzswsNv0BLrDHr722BmuMuGgLpUtrKNtYSyhalZSnEYbEjiEXc2TQ1aiDUGr5KNeltDwzGDEE3CxiSrcM0zOHJQiaoj4oQRwFFV5A8RpGeFMvjsLuArK6r/CSg403rfhGCcWJKvM4zAj7WizUa7/1bG7mTnV+x88rUmNqYB7xwHu/lBhHbuDp3LgceR4tmdEmc31rrdUHbLYvhVqrb1RueMaIc8+SEKzzaNO5GyUZDdk1gpVLaMdMBVFzmtP0xu4v6UB6GYA/7wR2Y3gJ4AgeBkdOXeqbQJ4D2arjXM8jjAWtYCAnCMlSoAzSA+FgcMi9XRMT22+CQG+SghDpRLHPWHVZ02D6Ds9mPV1iieP6IFw2jZbbUHz/LyrJXXMifCbKhnnAcMahFSowp2dBg0dGILekbMBCHEAHh7FuUaz0EJvsXuEnH6YHev8y9zlOdFkFApySSOntpESZfeFEIHrdcqOpzloaogOL8C3AxFn1gCMRU8ah3XIfN53BMNjz3xTYvvPgiXNhyc7YQNXvYInWjDvoJQoQrcSdAKYpWjygfaONijAARfoL3UmITOsMAse7rjArcqFe2Z1JDteOpb+pc3uNub7FZDhuJ3MiJR4TRIKjrVmgJkxPuGW1Z2/UM6sZh1tXg62el6BbELXC1NnVymAh+HaBXg9lfUVMjTqycDoPDHyE3lmdRdSiDQcqVs/EB9wodM6vWP0gu0z/cQFUzNCf8Zm9Yd6K8wQqtnX5Hl82F+UVTRRpkXzEqWG4oQeAIuqMIS+6PB13v9ao39jSFooFNG7t6v52M9AqZAbDPiQVv1/7XWuAphHv1cHraLbhCib5LQyYilCom6c+QtPzNXOOwL2E/inSr0QZryRArkLvWSEAhLK4uDCgPITJpW3FFgfupZAqSbgkRKP2gJIZU+3uJORicvnHfKatd9vgzfgtedHVEoFh8fHWhR1ABtI/qqe/pBMDLIwWEOAaNgPM6QviZZ0OkcDPtwy9dpxmeLGsUhzh6R4LZB6Y9/8N7nBe0RFMAjNOKCCYDNgNakX5gA62y7Vqz7VDcALxmb5zBh7cpxuuj/p7Z4LDfuTC8SviK/cYnw5tH3ZjpoDX8mWTdAemMO61Y7i5d3mFGe8t9kPxkQEBuF1eqn2qlG7hErD6eaRpKUTbM6s9WnlreKVKU/yflHE0LEat6bfJ6+ZAcQVEkH2LTltJI0WonVM21pZDO0ZiosHrMyw/JpjKl/pOALDna6JXVsSCBrwhdrVdAELUx5+DipRTOpD9Spedh3lec8I+GqfaqAbfhHZplZ1HE4A800LgX7bWnXSluH9tQ9UIZOk4fAu9jvQ69/QsQScWPEEyLcFz03x5DPvZyYGGjNdpHK+Hrq7qjp4NN5mBpz/LJNMKq1sVI+ALFMlg9pnyhGRFfKJ7FKNZF8X9BCG5B6uKRDEIsQDddL58axcHgcVxqkHA6Mb7uyDrb2pulTZyTK9090OLQrguxIaoj760xDvvHbp3adE6OgMXijctuPS6RcBJmEOXL1cLcChrEBhTR2zBesZi7m4W4PV/fo+1C7tVnVf8YSqPrN4ekEfUG6n5TTqX0VQQjS1VAXjfVzMCKX+zdibKIXZ1mxPuEqpnwFSqVgzoJPtSk66Xu7cRFh2rNq1El2kxaqCJ0ygeB49H717Y/p89yF8Z97F++tLpOs5qMNEhQKwvqKY3AuCSf4a32sGjqo2L2hP9TsvYEmxrPkmbe8/Cn3kQALCcG7OiU/sAvJ4zCYoNbiEoaLQPTkSHmHZXtk/1aoFbaxKduZl2jR0tLMZm4Ogig+aTOOiPtPch2ONbUKIDqdweqbNdCrK6psY19VuiS9wZuiKYbA3/WoOkn8HWO47uKHxhaXG5N5MhLi4w+MYr59x5QKMxn83AABBYj+0TGGyZDom99ETirjdUL6nPRxhuCzyLyFnprV7vH64uionRBrD7mbuE0omUrdcbsXVzqKbz/SDpu5rSczDsgKyQfXGl+Vu3N4zCCGSA7182qiV0frsg/hXvcThuQ4lHq3KdeFrpI5JNMdxds2alwrCjuCtROX3ZoXlUloPq6RlyVF10R7yO+MzlF/utOCI+isBJb9Fpv5VdAKXoFws8JmMBlIyQoWAi51ryOOhpcLbKPVk5e99mx5Lh6/Mz8iVV/yDF0KuCwpeRzE4908z+e4C/3renuED9YT3P9KQfleLPsMAuRPtTppjIrpa7iWlIK/Icdi8nbzG3lRLOHEKLOWJiVQMtbEz/Elgl0FV24JPq4bnEkFzvMKhtPu1dY88slOlj2QBup8g+75fj0+RenfTzO/Zb7WeRlvMN5N37r6buOGl8bfHjY08r5/6L+hPCYDOrZAUhRR57t7YNjiYknvCivEY1UXtM3w2i4FK9F41s01hpSK4f6ScMiw7yDW2h4/uFBi5mgMQqZf8JgctnyPJ8QN+QcDvtZfaZO2HX02uyOr4WuwMoHhqaQ11EMBekfzD2EwuqmTb2zA6usuRrdVvmMc//FRjs5fBw9vgbCaJ30l8QF9Ny4GqP7XHKuamwHB5v1uVCl4VJaBGKnG3F4rP2KsT9x1bdrb/DC434RlaYe7DDBky/AgR/m9UfnLhhbc7GwsieeGC1h/HHozVvJnMWYMesudM4zVEj2g2/8vnqKvmNW2/0nMXhX26KM6Ox8Iy5F2pREDVd5qfXV8JpHi/W23RJ2zB8RQD7Owj0KxoNIJ2p1ccqlFrlo4E6NZ5MinyDEijJ2zFKAf8440cvSKHfKciHE9UKZBYGALescKn42jV5jKc/6NNZsIaaQBDiUzdQF1fgUPxMpHUXLCikDKqmZagFVJPVcBaT0HmhmoiDMZsWSK+bhId3oz4j9h5HfoICgrIbg5pN8zhDhuelIE1jRFN0N5TMcwQTHL3ngxCnaao9SaQsXFyzB4f7gLC0ru9li85rOOtlPpKwo6oQQbGs+Yj4advLJ2hosCii7ima/zTIPy60xKGeHNZD93GZFC8Pj0bb2uJY0RbOJqsUHZ3QjG/WVbBN2v8KW3Shmh9dXeKxUQnAltgR3P4tbt3l7jsUEszpQNtidnDNwVCzzETaWN7ZOCUllJR+J/iVNW+C41uJlz2wDCPoQ1VdG3FgW4CJtom6vBiAySMoJhoaMM18qJa4M+iSH2kH1VX0wjdrVV+40Q5hvaphKt3ja1WLsCdSmLhI4Vn+fEDw6gHnA1SaQbesG3tnmodTytYynbW4SkmJwmJSbSazyqJ4Y03lCtwGWkXS89+Gi2RdWiJWvIv2lU03mxEFU6WSmKQFru92/0ZFTqCmhALL76ttfcAZOgh7crNaugj8mJpGWq4/oZj/NNMnW3ikJW4yS7a9yOk404d1VwtQMqkAz5hF9wFoaF9gD48CJZV1g84PDCtcIW9pAfOwtw4eLq+Dxpd7VGhN2Z9sJXGvia8QzF1vRzajvrHTf7CxBmItXchyT+JjdX3opnm1aGw4flrZIuDAlFXKINGRJ9NoWDY7aGrAHe5fwrEqmUvTTMabYxZC4qVrr02oP3XkdIZ6nnrVkdFnfxlKQW4Uq6KJ8k8rGp3GB1u/fE6PwRiQCON1596rOfx85+K9cjy+hv0Kdm7IYX/xoDyzy72xOP62bTrWlcwIoJ10sxEzHxPjJEi2Wp9+49NAbzeE5jorswcYs414+EK+pOfAxtuGIdiNNQz3GMFrmqvX/g5BPvZbiN+G9HQnZJ6pCzPletfjviQXW0P5AO8zsXzj0e1YEzOfAlDaCgsM5nGXYoqV/QJJ2PlEN+isAgIA4yY0pW7JvszLwXlFwi/NkgVyeURcVqOKn2ccVzYcbkEaz2McK9l61EZJ76Wknd23VlsxLLTQ3kCTYr9KYA1hSvWl+BT2O/e+ncrp+6CAADyylak4RKjq4KDLGVo4y51SZp1ovv4VC7geuf9klPfh21fTIyCWRhtbt5vEAZbOMn5unxHM6FgARyTBDiLJHM4hv5puyGGfbdJA/WAWzibyy+54W52TVQboeEtY7mK13uycBV3GEYDHffYpw4W2HOhQ8ffeZ4ZWeWJoQ7LV+5UYuSH85Rm7rpU46k+2ODoV4wkhhVdML08d0+WXjS4e75HMNsWCP6uKRuRZlM3+nC+SMOvBM03z1XnzsU6EY822gjCRBoAk/hHSuQCggm4BGucMWjbsDOXbPvW6/Ft4RnhAWHn1EB6GG2DOR2aA6RgKxY66q7ZP3cfscLpL8IYpHv64f+D3h50iC5Ph2IaRfkbeNQZ/kmqiP0A0sJd+4rdSiLrRWV+DunclhVozZZtSZyETIo+aJk4+E623WwPa5Uz6yR2xyS3TclYakYAVpUO7L885qvlkFPy2uhn1cy5u8YH4dMhCmImJRiv8FyGsok0IbosVx+dWHRNsOuvEcmfIJqHrF0ivD0ErRKpvCMYXzlM3R6zSVh0VnFj4QLIKzMTIXGpcP4KJGkpZFM2L9DgpdZmn5YE89+EkmYdP4L+97Ewwv+3Tl6b86q0li+HPzy6ipKEWJju//qW1gviI2Jig8Xh92Fe2V8Io03kPLZHNC2CQ2+P53pRqns+PfsKow4owggUrMZPGcX7NTSRk9upXESF/3FtCd8ALnvYJXTFt8mRdZ6t9bI5sKCIuEQQ/qE78dJ6lYHk4K0CYVKJqTbfkBSkfQ7lxuUYcDX+BIJNu1kO8HMn0kMmp6nY622fSpRGx3DQclB2zat5ts2DorEzUfWxw63I/ojs5XCKm5jv32KAaqUa/MOCcAn1Mj0+5NhhChlX/CQiTnVrX1wFffpB8HIfm0cX51hbPusooX1V7ga6zG4XuoYvs+0xHAQjx7DYRD5m/S2E5ujP9k6DOLVXzjwRzok9zn0eYeEypCPAjMgW3m2yAF107VcAqcDiaAD1VSNhCKLv04McvqlBkNFrNPX+cfHbw0zA6plM2GO1q4icNFliG3u0gOf4UtzNqgusQKG+PSgscdTToGrezNqP5tZqFuag3JIrr8UOgMUj6U9//Ye0+f3/hAQujEU+OJMP1B2cl0so3ZqeScrCh2H5TYJ9WUBIR9KkjoRLaP2mItbbK/4ASl1PyPIOm+Ds5WIIg/ztzEPl5G0mEunmAsJuFfGWPDCa4JYyzhSCZ4W1MSIOBoAAxDtbEGJNUU7APJwsP9lxU+RTseIiMb99lUBDVtnCtad40kHgC902cbZINMcPDQh978AfvEceAqMNNnUdYuradx0VG6SX4Y1+fCoO2XSVHf1OnD7L9xOJo912NvPlpCXRG1Mj/TrCgAJEChlXCCL6f3kDpeCwjUFmhNIVHOCZYWc09cD4o5XhNOOFtjQoCw3m5i2dmbwquZh7yilYSa6CiRnQdC8XIvP2o50UinyldtxgEqQy9ttJRVclNZNSRO0VSiEByWoqwYLcP5qK62p1MsVTnA+4nofpVvdssDfJ+Lgg9hvH5L2PKD/tfefTuDFRYjuYi1jLeVJhIGR4T9nu0C3cbIQKwpCzt+DeNE6Q2jAPrTfPmN6k+zgUKbDcuZtirhqxcR5OCFw29wMqa2mUqH6Xo8+ibv1ODt/YJaCtQS3UhL7OC4f2L22LUZGbY+9t6vgQU2cGGQNnhVKHoFZGuBbFgOnJ/4D5HJ9stoDk+nA09ALlJOK9beT1uWafKfN8KGmrTtRM0nz6rSozAR2NNhf7thBFoa9kq30CH4byblYyaLI7ctMDkBY8vdEtlWovpkFXVkazaywPWQ2UVvuinuCAb/R8ml/S4rw2INRkTohe5jNEliz9P52X1wtASnAkgYW+t7Z9X/yLqXgSdbXwGtUgnkVs9s6b+JZFSW2FoJk1P8whCPK/1sTn3VLI1cmB9eyvBipY23Mb5+mebcG4S4PMKRq4/iCkQvxP34P8ePY9Gyks3EDzddlt1cZOs5pzw83g47uaAcy0aaCh2v76EPX6RE7AQ2nE1NzWbTD2fMoPtauNF8g4L4yokFv4iC9TJid3Om66muzSb76gvDaVU9MUAQrb8tB6KiRMQCKgmT/79IIfHX/LjKye8mY7j6sHh9GEH2yDcszEYSs0Es52XlFGjm3HH1BiJm3VN4gtc6pVItIOEtixL6L67DFbGdnu4XwQ1bp7v0DznNOIHFbWj4v9A8ZPuvBKZNRsAW9U2EA7JGXMYq4UsI0R/NffgK1x7KCgjiA++9wx9GRCDXcSdX6vGFeldaGir8kvY79894t79bQ7iRsihWUWnOZu3Bq7lm7lCtrhZptK6hEAYzAJ+QiJ2QOAhrHM79JobJWiWgef7DgOIYRhP/nkMA5rgIy5ltmRXFXtkiz6Qw0OYUdWAt5ze/1DRYZT7urYRaU1xOWQAdJ8Wc4iK5xiJL3n8hcQynWdS4PPTRoIlOv8ddua5zVZjrLrmp4iXVXvYF5nlnMXWQWLbf4huyghjd/9DLPsVeobppNddJvXqLaHxxJg4JcI1BLV3pKkYjVc4MyNtCKzR9GkRHlq9A4/eX55Xl650KW1hBl90gmtP7tKtM7eJKmJ9TJbv0n6D7lH5SE2UjQ6Ho+FoB15O6PCDPayrqp3bBzhx+TUzAv81SnjkC4H7220jH5IaQHnglbLDdqwvvYKElxOYZ1/UhxIE8auUPPnQbhr1x4e6xlHckodH8g6AMKxl7bz2bEI0lW14Cq9FowAk1PaRmkwo6iHLQyIlf53EyoSDUrBexRdX/vLa1CtkYA7JrvpOukKLvSd6LDTOZBBSjbxdBGuBKnCIvqZeWeW5jlYEXn0/GK2htcM3i65xTb2IaBVQea6UM5QvLLYXosT0vfz7e+y5QelEn+2OyBNuqI2JIFJmAc+oCk99IMmeyWoB6YFEK1OIolgVI4OjHyY5XdnGEJfFcx2vODhAVSgvOVDeDNOXqoHpyiRJ6Nb7OfsYLHxa1bonDhoZqo8u6FZ3bT+Loo3iaifcuW+Ly7lk+dA7ymvhhkyJfQutJrg+oLYPTMrjGck5UVRZ86RK32XkVqMqoZFOgjL4bj1xC9wJBtj02wE2Zl4URGq7ZdmRPY6dJKsK4kgA12cQjP9An8eEvojlI7oj9aOjHWf5S5KwCJO3Q5E8sqtf5btkrKAMajI6xl46cWYgMbfsYNr5rbmXMPvPBeznCv9o4VaNGsCwkcZR/moM5bLdJbDv0mU3ve0qjpo8QTIYjh2Vd6j2BXzxK+B2VSet2eyfE4wl3cDpl3qqn2VD5Ihl5KaHJRFw9AXC355EYQKBMFdDr8gVZtOjMF+NOyhNdiUitApbjuE4x1SsqT3yE/wrVdH5w/WYoQKexW6QJAEbTHEaHIn61fGHI2G1eozrhbmfGEFn1/8L8HeSIFd1XnI0NplHafAYGQ7ZQzuWPQC3m21q4RVcmoZpDiqGszsbvJedR3ucrL2rvlUSpXjauh0RmzY+Nyd6fI0pfuCtG3Y6gT7GYU6cp4Yra1aCWC6H8L3e+L929UHEwsee1DT7mv6jwaFjLWMDC1DEvgSpPUN3h2WCbRUAMFGf1TSXblZ9lf9ArvMRmCrihAvKOFudgSBAv2b6WKNXCkbyFxeBvF6G8/JYJj3Ix3JLJFnSYWTy3eVCnMYb7JrngxW5wcOb18l96uEf18diLOhhTRVHdm+1aVjpF1wrdX1ojg4xxFlABHj/eSszdvCTlgtfMsGqGnbSWaU6EpL7ubeJEIoMHP2zOVp6WsLECkqJDYcyfYrTmpK/zUzxU75TvHQqTsHqVTx5y16jxI7yr+zvI7YSuXwagB3UWNRm/I0yh0iYoQT4KiuPoagLJQqVm3ILRptdQhExNIZKd9wh+tWOklhddDCFQIx55Ug/PglJCNUtN1lMUb6Smd6Gv/h5cLFvZj050z/c1OLibsh5h+ZaH1N629vpfKWtx3EVWwHNk0FtEBrWOO57fem7U9sXpwLnjpZIHHQtNtk8UWOVleLBiB8Fvx44TTHqwDQ0najK06qbI2Ps0e/gJhoE2TlOxs5wTfgpTKOos/glLZxtbdR1LSzkRs/Rdj8WL5CQnzTnTKAFEOvHYjgUfPDZ5JhYLB5i9IBCNmV6qtjeA43oxEYGMtNQSrQqOJYSQEYbVVAUXGhKOnTDP2ro3I5xcEdlkGgBXCST7n+QUH53aljrutynnn35tQBHgrIMn8UGLyfoKoSdbEzSLxS2QH2EvpAFza9M5bxERPcSylzU5RV/tyMaYb4gFdPvDOA1QI0LK4RULQW9sLh0zkIv0k64uMg8i1EG/3XlPwGXxo2MW6n2StUdxlWGUCo6kyhsofZctFnNMFNTB2GIskjUA9yaTBs5v0jvkFr2NPm2/IVbegMB6d/8cV4kNmXeOXi+DF/u6CcLo9mR+EAbrF8YxvMp0ZTtHUbIUI1oIm0XNLLQz20RsfnqhftCc5Eg446KAin1LTOKG70NL49rOOP+hj68kdL5A2Hj0MOdR7PRG0bcLHXvVzBoUbsRn1qcvGr1ic3V+yxg4WzbpZwSBbN3kBb2cmSPiEv6NqGng4iwDKJ1/ijJ5lKsVAQXNDuxhZtNG90PHB0EhRPNVcy6ykyTOKYK0Wb9KEqaynQrtkc5SvGyxcNvFEguJ6cgJOQd67/h2hV5an83S4X7+McZbGC0m0nFTIK0H1A5sG2Lb/rVVvOUootpVRjwOB59ftX5bywXzWAC5TGRHuXBG/T3mE5rGHO8yPab+T7OmGp8z29218gASMzsgKsPAec1wO2oUkx0d2eNYQfI4swx9HDJBHtp/kkl6v0TxKy+tI9oL0hvud/dTIoSzOs7j5r6yNgyESTjUaZ/HU328r5lQVgqa4hw+TTkUucqTJtAM53TLtx1r8eMe4ppTXFEu8nfef8mq6U5/Eyubsupacpk5KhN7BPGcwJHaNGMpVJr7U5CqsbhQaq0yRpzYb6vhKCZJBy0QAgy80D8NBJVmG5IHw/bPYAR2w1hk/0xlTr9JswnIXB95te6li9Ev/jLybU9+1OpABH/BxbfrEt1RV7wFOr5qK/xvx2AmOFp0Ebv7/uShb2+JBK1E2jLzG4PDvs+sDewntKXsr/PprPWeA4OEkrzM8yr9+F/J9LI6Q7+1Vq+RBvZAVjv+WfjXR05OiqUgdyqlWh7UR7TJP0th6hPvEnZYTXBDPCQGgu4mhtATPQH2dIcx1nqsxt3d0OLy/LHcH66bnT/gPcAeuDh8nPsTzaFCQh6h6YvE3ORbDLprP+D26TcZlnFtBHi40csdbccBUx0XUa38wPuozrjzE4ugIW10aBTqKG9fNf4xAHdvk5TbHBoouZ0GcUyJ953+MMVx61fO/1IYpWh8v9X7I1S9S4NTEv9T1+WHz7cSi7LjbMZrw/8iMTv/VszD2ZoZOqibpbvzcA+mMpR2fHZbNWNyaOizz70C2IRHOZoMF3KydHGOSGLlwjqdukcR9TFWUlTqXqLbn0cgtRfcfJqtXFDXeytZvhpdR/i8rooVxEmTT/mO1TmSJU/G3iU4MB9Ted47QsPLyXrYwMIqCkVhf5I6CtLPCyeEyiZknvBkw9RGx1lR9st9Uzy4LUIQJyZ2dVoLSL603NC53xzmh3iBR6yxYfSKmwfi1DGHALTfTonSBm4Vxvi4zpjZJitKLric+icfW0lzB8v6zZVzoPu25cGO9Zr9JI1NjcgjvOjW24GnZSPy00yVortRyvY+jzj+QfWevlxb87mAgkZQOF+gnoEsOjM0TZRF9NxSUiw5lrDv3vRUPglrzozLN0d5SitdmIHKIF/EOXlWthKqEG6YBAXpzWBeALQlzHMUHY1ugDDSsy/EFc0MQ+UrdfIh9cP05Db2G95URo+JXG4Jl9MTSgdP4zYPI2DaZHPlmYXzkjAG82ahMn1wQEXUiw2tMK1RPVNQU+lWutjIXX8CqMZ0xUEk+DL90cfAjn7ZKST9KHNeaBibhh+Tr0r50BEKavGt+MZTtPfzSYaQkuGdd0GdbzxzOGoTc+MWY9QzVPE0z/BYbtbNaELuwWvhcdYTfyMYY/zPGSOVLjwwj2PvJC563Xku0EYm7nNhQU1Lkr6sB83G4GW/qQ+6zT3lndtl+XREDLeJTjlQgg5t51p03v/NFOyccWK7oc2dpuswDGL9nHjnGkIpJ9NsrYYmu9FxepfAFtL/cJmm2FMdR7KHBC48oVAV5uNYqXubLhmPEooBHMFc+Ykfk0BbXeNiNndBtDWoO64w/Te+WIyORU72THSO4L5BIGv6yYOpr+iGx7n3NT1ts97TINU52XRLFKqT0sL8Wr3JVKKksWAdSjvbuiVOizUMP3uBaxY4agapsb7tyIh9U/Tzp32xG84SX04nbJZY4j9rM7Lmb42N+OwCp5eCl7lMm1CvS8f8PvoavBtTSJrp1+7+HSymgPKRbwdop+FH9EWI6m+0X3/KLSUXXTH47TmlylLLJCaEQZLIpn/gOO3J+PapJL5kX+7cjLVMneGm6ZboTkQAFCSrAQWV4S+SVEhNJnMmUY7QfuxSKbjrUYLYQXxOGVWvmHtvS9dKIggkcpKGHKefIwciQ308vREhnD5gSF0fHX8/T1ad+d2J7i+uglN5tReyQY92NW1lSPZ6xj4M5Xy8Ph95r4PuPoVlmnF28Ui5jnQjSKpZQK2/g+i2l4z0cL/ETWYgLVWAmHvNbQTytZ2BHvdcCNpYC7beb29JEKRCO2z8WxgbCYjhdfMQE4GGEVIb416xICncBOnPylrTOuBC9dskvdHyE7L1qjwJjVa2D9zxYNdYeykx4ujohan+wUBpfMVHNfi6RgOlEEJ9vknaX5afS+cAe/mpZJGwCpB7VXfaRuH+6OpGkb6MbOzoaH2Th8/KQlpKw3KCOosGQn10FvhvuARE9PWwP9Z9jkmKQfBmAp2yNa374DOW7xE0wII3vcS6bd4e0TMwzimTMbT6TUEYjg7ajhl/mWAeQz/dK8UmqIDqe6/9H+PYilV6e2UyBjxrUbAqjRrStyyaXwLQt0Onlm33fgd4RYvU3gv9Nz1yp7tAcXIp1GiOQ+N904VJw/Y8khExFXV7DYyHWZdDa1Rf7vfsLPKzDceqzlFK1WH4Wvi+/YqZf5w6h8+4H5c8Vv6muu+ZTbU0w1xJrTJkhJG8FlhLRfj2claT2xOtnqNsZvLv7yuY/8CXsAOrb4pmHqHsjgIrKtqFR5y66ini8se8tn4rRsfq5mND5OVhrbrpnipxTzn5w+HlSdLSHaXjYNtgVSN0PfZnmskyMDTVu9LMY2kqLIwsghgw118SsWMHZUYVbRiVF1C6D6kY1my3x7mxdhpYP3qJmQjSvSfE7jNPfuKDb82xA3nC5y8IWPo47BBEvkB8ypp0VcZRtIZR76oDZS7qDW1PYikMp3xXifRc9hYSsz+ZNNeOcaY55yGmH01mSzWv0ncSZEkjtaLqzjMrwCmfXGkQ2+HiLeOMhdHfwGpqFra3yduUrSgV2hVgngJ8FiM0B+3XjUNn5CPEI8Yr+daNCKXtsqsiqx1L6R4Yskq3Sb7c7jeWSX1HXdxvxvVCTlkNnTNpj+FaJKh0bOGwjjKV1pB8MBc1/sZ0RqsLqJt5l7WkIxt1kDxeVAOmb1Tq1WkhHmEOP7YAR+ynYc9iiwXtflx2ASaaeLuIM18GwIckVNhoDIkug6XDTbocEafFCnIvNDJlV8JK/KJujz0Wr2YsD7vrluqK+F7u2MN6Ax2y6lYNSW3gnZpaQMfANiYfFMqJ35YD1Lk0IPRE8ENkl1Ik0AnVMfCKc6f+is1sKuESuwinRgaSrfGdKDd1T1dzX77Q6+qrcWvgCccww7+biDGdWYrko4l800cgZoC/Uhs6OHnapvXc5A3Qq1wyX/1A8Yds+guyttJ+Fpu4KMotXIc5cc3R+ghH2M1srw2YBdeS3B1qXzaly4MkL0nQerRracr9nKa7mAGvAlbSqlsYoYxyvAzqTU7f183VmUykpuPeouP8KdaI/gLgymEIWbCWb2p8JCsp0wSxNbQPE2Mq3g5Tn5fT2fzZO9TlM74sOAyv7CMV58ir2iZrbQOErzv2REBLkWaYgmG+n9JQhYZTHR/Jn7VvGtpnAw08nRJ0wF9ItMPfUUVLyqNEbIb8Ju1bTM9quO/Y7zq3jdLOPGLejvc0ZDUxlnLZoSWlYbDmnq1yRDHKogy4biy2BhUCH45gF5iLpwzqtKYaFsHzvJ91JUZXIM/gFKuWFAj/zs2Qun6XLcQmwZK8HZyTc8kNvuZhudZlc/31OsYPAOhLmF4uQ3y1WMvXUvxWiO7p3H6VBUQqJeoQBH6vS4hf6+hIg0ICmQH2ngVlhlmXmNNet6ttLqnOLX1VpgivKVxvhkhjS25Sk9xU6OMnUYSuiIhntRrupDjgQZyw3mrhtJrRn5pzLChozR8JT2q+x5SzuZRYg/2hP9B4K60UOTqocWx5ie9badN5ZysVFlQuUS3W1ZDWPzD/Yq/2DCaFpJCoc8Op0LYLqhusL34+VNYKKUlbQzMwGzQPTmkKqhdq2iKPnw8uuCiy46ygCS8iVUa0OowPEhw3Js2nGDu5fGtbRZDoSVDJ9WrVpWH1duTKu9Vcp+isnL6WgsMi0huyuBux0h8G9wkCQ1pO5Y+eJKvxveJSPyIyYHsn2XNq5mFPnUQGd41jErs8oCLtLQiTKnNA7EnpJQMJcwKqbyeygCjZ1E9g6zvuy5uCnRI5NpnZr7FLLa96XuGfO17HshLyBJ5d9iRhyyaZerBEbWsgYXqGusW3QUesT6Qs8QRRNN4lpt0vnp3IrI9js4cCl+4+gyLck4rKgIpB0CL571Nr5zb7TDRbcdZ6g0LmcdkY3wmpk4eBym8/1NXwY/ZwuXJKtAosbwiLMkuLbsJsU0Lyaj7kbtmNS6W7ic4dWL+ixRYVlkPO1P17kL4MANzK6XoFukRgE+C+KgPLqrqAfgHWbl3kpafwyr32mFnB7VHU4yfRDPduh1u3AUzZkdnFoZQXKqekM2lr8yoKouT5pqvh2Cnz0qLHRqVGQbC0k7Qd2AJRRgzoyFdMa+ANJPqI9IAcvyz8KYO9e8+XH61GN53yzqn9gbP1LA1+V8AeJKkkQm/KyvsS1IlOzUogYwSy5ZY2ObgOKqQsN7tbx5NZwXau6K7Po/Dv3Bzw5wOel6ARdJcCVaS2XES08u2ppqUQOJXvctgNOxapxyNi3cOYKQDF+GHAxMk/wQ1jpLHlzWIRwRGXdR5gS5JbmYHt4ug9OKdRMbaqc0PkuXX0OT84Tlk9GqscwlJBpPDbZoFBTripvwhI6eJfvYZy5/2jRaJsRf79xps5Pon4qI4txDZeAlqc1GOGaH/Y7mlsFJLytXn2NfyAKHELMcO/h8yJ019rFOe+nx7dkP6pnCfIlhsKg2AgjwnDYpvlMeT9Hkwn2f7Hi2AK2bQJvHj1BvAu+if0nT7+dNtZI3Y9OSnDvhISE0y1X022ozISHBGrVb5zPn7CbPqm8k/pAeNpj27J/gw2DTtrNMs8kpeLJGVTG6ovmB6TSG/VU0WbRv6At5WxvYzJtOOaQstEC5pAIQv3dOTtfANG1qAeC1F9rb5nX+Pz3rBp3c/CfFcrSgZ2PHacHOM9knzK8SOqqlPFCoJcuKr2ZDLl0BC8j/sBaUn17YmdOD+GUDy4kud4bU2/MsQcIvxNnAS4imiNciwl9O8eCTeRZGZ/VE84XxxfD1BC+43+Af1+lnRMqV0m9hdx68NqNYOnw+tGzo+vPuoa14O7kjce1eaEwfluXNha31GHGCcnOCmYed7pId8d7RE+3Cttpi4RBVpZ7oAxOYlKYBPbJPZu5eDtqR18j7PxduA+yzehkIwBO1iYRUAq7VxkX/HMBCww+2gs3nTFmxWSP3dZk6FEMoG6iH4R3KF/UtAi6EUjEUFN8Hb4ZjXyFf6/NzVKbnEmwKamrz8dcv9Ozr9rFg0o6B4GjPSDfSTJqtpOkSMakX4NIxz5sd4tVJw0oJ+7qpTtq8Ofr/1TkL/NPkBbKNGslJRwnvSFMl1ixPC2oPg1UDkshs1M5BJZMl2jRZwmOV4JLWvEiBA/cn02IPzK4l5eBJXat06Cps+pXLunXq9Ko5HDTd+PU3gIst6+2qQuYA7U862sHy4Jxftt5dEL8zfZKjoX1UmCi6PTAb8Mdo7Pw/hNPl5jZv2LG96nGyImFJShZ+1c4sT6M7MjWjDzgTyr2tcjAL88kC2ENTCJuMR9yeIW9KwDLSRTXbghccy7cUNIwHyGdJ4SZfCl1lRJgRuvunsQNR4RS5T2EhvjzMnqe3kUklcAv7LB5prj/HephJox8KMkRQmseSl3B6YPCrSZnhsp3my9SwSQt0H3KXOtJKSGdt1eCeheH8RG3Y2/y4JixIoeCqcxEG/45hoohPmE8UhGYuRbHElKmp6pK9xsjfOF4gZl4JJbzc3gICqtjD0F7w/SHbpVwHa811lC+52aVqjRwQTXTAvxw4I3RlKPRZeRzwThIj7t6HuKfDm7Ui73ylPXUY6+LjNF3bQrLE2km2VKQw84PrRiQ7I7XHyqsTYnMtnYH43aRE02kmr5otEGNooYnWMZQTHIcb0OYMOjcRT327L3p6XpsXz6eSw9f9u77nzBMv/OkhW/gAtU1AN6wZh2VF8GOTgxBmmjV6hK15OIxA6vfFWG0KHlKvjAAnUEwtd1pWYWDc9+tkM9G22DC7yzflUqJTSIUcaJ3mq6ueq2tu3Jbwez4xB4edQvQFgRu+l5U96cdm3RaoGrA6YVNe+uDhbtqI5nIWE/3k/GPgONjhV9YeopbA3XIyOEmetpUOYBGCqDxT6suhmYrQr5pNQgWeL5ro6/jC+ujRIX4ZdCRNZoXuv8kUT4X5nPUMCjeXojsaPshGLUlWeknNoiZHWdkNgiEVntNFRzNl9reCyeRUYY4CA6aL/YTA40K8x7wixE+AKpifHtjAMn7jB/Lr0aqgZsWYXj98IQKPZ8qHJE7uDaME2FXUQDZu+G3nGe0RAiGeOHemvZFKPO1TqSbJe/F5lnA8cTDLM1HUrLbGsihIKDPTOy38pODrgMTSZ+2kkifr48tVAxSVnaTOgpbihKG39Ji2lK58IPV5/0i5tQC6Pn/kUyWVrpLInUnHnBnqho0hQig4M1ItrsIzfp6FzxSXtCapCcPB10I7xQJWUopYGxZRqyo8EEqfqfIejEl51q8yHOliMnPFp8/YJELTnH/2zsad504LZ2LG0NIcGzuBm5jyXMbj0WnlFmk+FBEL7D7BhKXueUgA7CAXKtazuzAvAzRBSBFeoPOFmj/8Q5na+XU0cClU9N2/5zHlZid7l20onsNDNtMAyAjpDfzq0obboH7/igTH00AttnbrXLzRJ5aKlg/t3RYO5FcXJO5ZH8DWUf/8PrLQxNEjCVgzTT1DMTUuhezmrHVD7/WXiYPGa6HfVgJvZS7KP9wbZGYEe/yD/LafMNVyjDZ9DY6gEKiXYXc5LZQpI1NWYV4pIIklNT4mdwE4o24sfhpDxSLzB2JuOSm7vNukTaK4U3vbTcM3+7sdUrDORIMgnwMEFUQfzSZuqEQQANnmxfBbbkTwW3HubbyJvRPBm6CmoL5GVl8DsHXoWokib3qSTHOk8IcZUgV8ddD6i/TERFK9gjTG18L8dju+4x81VGicNJoKFqv9zCRMGUEOVVCZkApu0k8J/To6JnAo28Qz1rZBwk7GLnEEDpFDA/xrLx4EcKZF7oYJXBLcw4ZIEP15nbqPgfonxq6dflfnNBKkfBLechkWwqfE+wUfymmmVKPKEUvssreNPuWFQvq88wcTNByBtc43EbeaNb/NRZrkftzTAlx1sNPvYliMj5j0L97VEG6+Ue1xaKVaVKnUz793U0hpZfEQAYZJKXeoGRnLMYko03VTkgENsVJ2ZL9XyiwGTKbXJFbxBjtefpURPOVJE8n/p6pPfhjy7VZ1CIMBb1mjWxEB2YX+yPx/ojAf4JN1q/kgXtGlQmkCeoRNmhRQDZiFqBld532A3h7VPe2mDZkKWJleWguXH5l834VIqy2ErSPIdgVokPthGqjRYz4gc9OUZur4v5i84UbEDDUOoFneUnwcWewTLT58UBHgWOcSK+jJehiag6hrSIvqtmNV7nRnS/iNqixJMIukiGMUU1r2HEbUEIPit8E3UeUWqDMNcHRb0CXOOtdYPXMbkYdv6wb0YLtrU7t4vGWLPW2YXhmdtbHmAl4KwQaFZhllvw68z/TnU7nCG1TtkCC7gkABUPBE6I80fnDk3y2/98sj1swjMDugUcGcEyUqy7AgRKs+apJb4q81srHSFwBWdIXvXCU6m6EnoBoHS760HOWlNSgmsiK9t8bl1ZVvTP3tYJHW5ogvOtxY6h+dDYOj45ZAMav5DWvYiH0FpnXQGwYPkxeOJHDKtm78hW11k05Jl0m+n6Dj2OpcXD7hLA8uY0I825H9RtBy84EB1ZedLZoHUAQwzPKjL96+0mNgrbBqmzT5j9wBL2OZXb6QFDW1HvQxdqNz5doGgFnDaIw+5TexDAFYlRtmPspZjjRYxBXUMEAQxFipZSEV00A9MFQhbIu3q5/HNlMQZV9FGi9mq/afoT2WKcnSXFzhJfniYZb5Jzdsw1JqDY5h56iJz2keahD/Q7SeUCrRBPpzkPLMOw/xL8go5ghY9djjFkDNdBbJ3L7ZxCbrzsYKe31s7gT/5mHk/lIOaz4udAYcE9FI9N1twRTJ9WMgW2S2fCseLjm3edlDygEGU1N/vA2lpmlmaN7BzwKhb4fBw05oQRF5cxwF00ytL0GinRPN1IqpAVGhkPigbtTBiy8zEbpqt57ezqFmdUWLHviRt49Nvw68SPjVS/zccgopvTSNBkRJ9BbhtEdjC5Gwpi19UAWdcPIwJ5jHjMftuUeG0UylUAWxEw/G+mn14DRfBQ4Y4oOBHoVwEvCwNjOVvUErT9+YhIliB/ElJ2/bf9ApG+yQLQC2LN00MExNWkrmZ0XJ5O81hHwd02dLhS4lzAKBubC1/db+ZMzrP3W/r17uVwii/e+KMJobnnSw904X6/XkxUDn5UbxTUgxVa29CFehXb6+iOdqZrPwmTmoxZD+Hc07pBnPIs8Q27t1AkIiNE3RJwacc+nCdjMOecq/KFdv3I
[...]
